[2019-11-27 07:53] lvbachmann commented on #3080
Retest with new screen reader

[2019-11-27 07:53] lvbachmann commented on #3085
Retest with new screen reader

[2019-11-27 07:56] alt-how commented on #2894
@jeevananthank Looks good to me

[2019-11-27 07:56] #2894 closed

[2019-11-27 08:04] jeevananthank commented on #3157
verified. Closing the issue.

[2019-11-27 08:04] #3157 closed

[2019-11-27 08:15] DanRJ commented on #1812
Yeah, that is the expected behaviour. Thank you for testing :)

[2019-11-27 08:16] jeevananthank commented on #1812
Closing this based on the above comments

[2019-11-27 08:16] #1812 closed

[2019-11-27 08:26] jezpoz commented on #1178
Closing this issue, since we're going to implement this in post-mvp. Possibly without use of eval.
New issue: https://app.zenhub.com/workspaces/team-tamagotchi-5d5bad785df1093ff8db6f22/issues/altinn/altinn-studio/3155

[2019-11-27 08:26] #1178 closed

[2019-11-27 08:27] #3057 closed

[2019-11-27 08:49] Kritsi opened #3178 "Possible to create invalid application name"
## Describe the bug
When creating new app and gives it a "tjenestenavn" with a space at the end of the name, a invalid "lagringsnavn" will be created. It will add a "-" at the end of the name, and this makes the build fail when you try to deploy the app.

## To Reproduce
Steps to reproduce the behavior:
1. Go to dev.altinn.studio and create a new app
2. Give the app "tjenestenavn" with a space at

[2019-11-27 08:55] jeevananthank commented on #2294
Tested. closing the issue.

[2019-11-27 08:55] #2294 closed

[2019-11-27 09:02] jeevananthank commented on #2675
tested. closing this issue.

[2019-11-27 09:02] #2675 closed

[2019-11-27 09:52] #1060 closed

[2019-11-27 09:52] jeevananthank commented on #1060
Documentation and test is complete. closing the issue

[2019-11-27 09:52] jeevananthank commented on #1368
@GGunnar @lvbachmann all the tasks for this epic are complete.

[2019-11-27 10:33] matsgm opened #3181 "Building App in Studio does not use last commit to master if gitea is updated directly"
## Describe the bug
Build app in Altinn Studio does not use last commit to master (as stated). It uses the last commit available during page load.

If a developer pushes code to gitea or updates gitea directly, the commit will not be built.

To build the last commit you have to press pull or push on another page in Altinn Studio for the commit to update.

## To Reproduce
Steps to reproduce the beh

[2019-11-27 11:07] GGunnar commented on #1368
Closing issue, based on comment above.

[2019-11-27 11:07] #1368 closed

[2019-11-27 11:21] jeevananthank commented on #2880
@dskogan i verified this with a newly deployed app in AT21. It does not start the process when an instance is created. Moving this task back to development.
App: ttd/it-works

[2019-11-27 12:09] lvbachmann commented on #3075
@acn-sbuad Deciding on the question you're asking should be the first step of resolving this bug. (But as most data models don't have texts that will be imported anyway (not a feature in the SERES datamodels that are most widely used), we don't need to decide this right now.)
cc: @Febakke

[2019-11-27 12:10] jeevananthank opened #3183 "500 Internal Server Error on getting a xml data with runtime API"
## Describe the bug
500 Internal Server Error on getting a xml data with runtime API

## To Reproduce
Steps to reproduce the behavior:
1. Find an app that is deployed to a test environment.
2. Login to test environment and get cookies to send requests from postman
3. POST create a new instance
4. POST add xml formdata to the instance
4. GET the specific data id created in step 3 using runtime API

[2019-11-27 12:14] jeevananthank opened #3184 "Platform link is null in the response of PUT edit xml formdata"
## Describe the bug
Platform link is null in the response of PUT edit xml formdata

## To Reproduce
Steps to reproduce the behavior:
1. Find an app that is deployed to a test environment.
2. Login to test environment and get cookies to send requests from postman
3. POST create a new instance
4. POST add xml formdata to the instance
5. PUT edit the xml form data guid created in step 4
/ttd/it-works

[2019-11-27 12:28] Kritsi opened #3186 "Rename pep settings"
## Description
Give settings for enablePEP a more specified name to make it less confusing when developing.

## Development tasks
- [ ] generaltsettings -> pepsettings

[2019-11-27 13:43] jeevananthank commented on #2881
test is complete. closing the task.

[2019-11-27 13:43] #2881 closed

[2019-11-27 13:45] hanneline opened #3187 "Lagringnavnet på tjenesten vises i varsel til bruker"
## Describe the bug
Testet en enkel tjeneste (hannelineosbergeide/tester-igjen), satte aktørkrav til Virksomhet, og brukte en profil som ikke har tilgang til virksomheter.

## Expected behavior
1) Forventer å se navnet på tjenesten, ikke lagringsnavnet.

2) I tillegg:
Mulig det også bør vises for brukeren at det er navnet på tjenesten. Enten fnutter rundt navnet eller uthevet eller noe.

3) I till

[2019-11-27 13:47] jeevananthank commented on #2682
Update:
tested with an app having new app template.
POST instance with multipart data gives 400 Bad request
"Error when reading content: [\"IOException while reading a section of the request: Request body too large.\"]"

[2019-11-27 13:53] jeevananthank commented on #3001
new apps can access the new storage in AT21. verified with the postman automated tests.
No functional changes done as part of this task.
closing this task.

[2019-11-27 13:53] #3001 closed

[2019-11-27 14:05] hanneline opened #3188 "Får ikke startet tjenesten pga feil"
## Describe the bug
Ved instansiering av tjenesten kommer det opp at jeg har startet tjenesten som Anne Sophie, og at tjenesten kun er tilgjengelig for (blank).

Om jeg da velger en av organisasjonene, så får jeg samme melding, om at jeg har startet tjenesten som Frisk & Sporty, og at tjenesten kun er tilgjengelig for (blank).

Det er IKKE satt noe aktørkrav på denne.

## To Reproduce
Steps to rep

[2019-11-27 14:11] lvbachmann commented on #2460
@matsgm Could you decide the need for this together with @ootneim

[2019-11-27 14:17] jeevananthank commented on #2814
@sinkva88 Tested in AT21 and can see many issues.
1. it seems the swagger for PDF API is not implemented.
2. And the swagger is either not updated or it is fail. The URL has uppercase in path which gives 404 as response. ex., 'Users' from below should be 'users' (This applies to Register, Profile, Authorization)
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/bb6d22a2-cc

[2019-11-27 14:31] lvbachmann commented on #3127
@DanRJ Do you have an example of any environment dependent variable?

[2019-11-27 17:14] matsgm commented on #2460
@ootneim and I agree that developing automated functional tests executed after deploy will cover the described needs. Covered by #2856 , which should eventually be expanded to all apps in all environments.

Closing this issue.

[2019-11-27 17:14] #2460 closed

[2019-11-28 07:30] jeevananthank commented on #3147
fix is verified. It is possible to save RuleHandler.js in a newly created app.
Closing the issue.

[2019-11-28 07:30] #3147 closed

[2019-11-28 07:31] jeevananthank commented on #3160
Verified the fix. Ruleconfiguration.json is saved under App/ui for the newly created apps.

[2019-11-28 07:31] #3160 closed

[2019-11-28 07:42] #3186 closed

[2019-11-28 07:59] jeevananthank commented on #2880
the test is carried out with the new app: ttd/the-latest
process is started when an instance is created

[2019-11-28 08:24] jeevananthank commented on #3149
update:
![image](https://user-images.githubusercontent.com/49391725/69789407-ca152d80-11c0-11ea-9029-2c016b0dd8b1.png)

[2019-11-28 08:25] matsgm commented on #3149
We're working on it.

[2019-11-28 08:29] jeevananthank commented on #3178
verified with app name having leading and trailing spaces.
The 'lagringsnavn' does not get the - or any special characters.

[2019-11-28 08:29] #3178 closed

[2019-11-28 09:40] DanRJ commented on #2559
This has been fixed in the new app template.

[2019-11-28 09:42] matsgm commented on #3038
Dev completed and merged. Waiting for working app in AT21.

[2019-11-28 10:32] jezpoz commented on #2844
I've set up CNAME records for www.dev-, www.staging- and www.-altinn.studio. Please retest after 10-15 minutes (because of DNS-cache)

[2019-11-28 10:46] acn-dgopa commented on #2548
@alt-how As of now, gitea is using the defaut timeout setup which is 24 hours. Do you have any thought on this?

[2019-11-28 11:28] jezpoz commented on #2844
It seems our certificates does not support www.*.altinn.studio. Since we only have one level of wildcards.

[2019-11-28 11:30] DanRJ opened #3198 "TFS 37754"
See 37754 for more information.

https://dev.azure.com/digdir/Altinn/_workitems/edit/37754

[2019-11-28 11:34] GGunnar commented on #3198
@alt-how could you please evaluate when this issue should be solved?

[2019-11-28 11:36] dskogan commented on #2880
Have found the bug and fixed it in apptemplate. App must be build anew.

[2019-11-28 11:40] jeevananthank commented on #3093
there are some more changes to be done in policy template
Refer the policy.xml of this app that works.
https://dev.altinn.studio/repos/ttd/the-latest/src/branch/master/App/config/authorization

[2019-11-28 11:52] jeevananthank opened #3199 "500 Internal server error on GET instance by Id"
## Describe the bug
500 Internal server error on GET instance by Id.
This happens on app instances where PEP is enabled in appsettings.json

## To Reproduce
Steps to reproduce the behavior:
1. Create and deploy an app to a test environment
2. Login with an user to the test env and Create an instance for the app
3. Send a request to GET: [https://{{org}}.apps.{{envUrl}}/{{org}}/{{app}}/instances/50

[2019-11-28 11:59] jeevananthank opened #3200 "500 internal server error on POST instance with PEP enabled"
## Describe the bug
500 internal server error on POST instance with PEP enabled.

## To Reproduce
Steps to reproduce the behavior:
1. Create and deploy an app to a test environment with PEP enabled.
2.  Login with an user to the test env and get the cookies to send requests to the API
3. Send a POST request to create an instance for the app
POST /ttd/the-latest/instances?instanceOwnerPartyId=50012

[2019-11-28 12:11] DanRJ opened #3201 "New application template - Startup.cs, hardcoded value"
## Describe the bug
New app template Startup.cs contains a hardcoded value to a specific environment.
![image.png](https://images.zenhubusercontent.com/5d765941eb71d10001e81ae7/6c648fa7-449d-4261-88b1-5c02d3b00f06)

That value needs to be different in a different environment.

[2019-11-28 12:21] #2880 closed

[2019-11-28 12:21] jeevananthank commented on #2880
verified. Closing the task.

[2019-11-28 12:23] acn-sbuad commented on #3149
Fixed RuleConfiguration, current status on requests: ![image.png](https://images.zenhubusercontent.com/5c8f655333fd990b927f5ea1/8deec0d4-3e9e-4fd6-92c7-f2adbf2ec832)

[2019-11-28 12:37] jeevananthank commented on #2559
Encoding of the file is verified. Closing the issue.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/59ce34cb-4ee8-41cc-8344-00485fb16740)

[2019-11-28 12:37] #2559 closed

[2019-11-28 13:28] jezpoz commented on #2844
https://www.altinn.studio will now redirect to https://altinn.studio.
This will only work for production since we only have one level of wildcards on our TLS certificate.
If we need this for development and staging environment we need to get separate certificates for these environments.

[2019-11-28 13:42] #2844 closed

[2019-11-28 14:22] dskogan opened #3204 "Refactor the data element part of the instance into a separate DataElement"
There is a potential concurrency problem with storage. If parallel calls to store binary data in attachment on the same instance we may loose a dataelement due to a race condition on multiple updates on the instance. See previous errors which were temporary fixed on the runtime side, but which isn't an fix when running multiple pods of the same instance.

This can be alleviated by puting dataeleme

[2019-11-28 15:53] acn-sbuad commented on #3093
I think I need some further explanation, @jeevananthank. What do we need to change in the template? The file you're referring to differs quite a bit from the template.

[2019-11-28 15:55] acn-sbuad commented on #2900
@TheTechArch what's the status on this issue? I figure we should solve this before we finish working on the frontend/backend-integration if it is still an issue.

[2019-11-29 06:23] alt-how commented on #3198
@GGunnar Not critical for MVP.

[2019-11-29 06:39] alt-how commented on #2548
Is it a sliding timeout? Is the idea here to set it to a lower value, to make the probability of an active session lower when upgrading altinn-repositories?

[2019-11-29 09:13] acn-sbuad commented on #1970
@GGunnar @lvbachmann can we close this bug? Given the state of test in studio this is obsolete.

[2019-11-29 09:26] GGunnar commented on #1970
Closing this issue.

[2019-11-29 09:26] #1970 closed

[2019-11-29 09:29] altinnadmin commented on #1178
@jezpoz Just to double-check. I assume the use of eval in our code now as been removed? Missing the ref. to a PR?

[2019-11-29 09:45] altinnadmin commented on #3066
We'll look into this post-mvp.

[2019-11-29 09:55] jeevananthank commented on #1873
test is complete for this task. @GGunnar

[2019-11-29 09:56] SandGrainOne commented on #3162
Progress:
Integration tests for ApplicationsController and MessageboxInstancesController has been updated to use Moq instead of actual repository classes. This removes the dependency on CosmosDB and Blob storage emulators.
Remaining work:
Integration tests for InstancesController, DataController and InstanceEventsController.

[2019-11-29 10:21] #1873 closed

[2019-11-29 10:38] acn-sbuad commented on #2087
based on description of the issue this should be solved by tamagotchi, changing the label

[2019-11-29 12:10] jeevananthank commented on #3093
verified. closing the issue.

[2019-11-29 12:10] #3093 closed

[2019-11-29 12:11] hanneline commented on #3188
Får ikke testet videre, hvis ikke dette fikses. Mulig dette gjelder bare denne tjenesten.
Opprettet en ny tjeneste, og den instansieres ok i manuell test.

Men det er lagt for mye mye arbeid i aarsregnskap_rr0002, til å skippe den...

[2019-11-29 13:43] jeevananthank opened #3213 "Instance is not validated before sending in"
## Describe the bug
Instance is not validated before sending in, only the formdata is validated

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and deploy the app to a test environment
2. Login to test environment and start an instance
3. Fill in and Click on Lagre/send inn and see that validation is done at data id level
Consequence: canCompleteTask is not set to True

[2019-11-29 13:50] jeevananthank commented on #3201
verified. ![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/0264ce07-eb4f-4ad0-8ca0-201dccdd3127)
closing the issue.

[2019-11-29 13:50] #3201 closed

[2019-11-29 14:18] jeevananthank commented on #3152
this is not seen anymore. Closing the bug.
![image](https://user-images.githubusercontent.com/49391725/69874508-80f5d400-12bb-11ea-8d57-8c558b61138d.png)

[2019-11-29 14:18] #3152 closed

[2019-11-30 06:32] matsgm commented on #3063
@lvbachmann : I've solved this by implementing Norsk bokmål only in App-Frontend. This can be solved-post-mvp.

[2019-11-30 06:33] matsgm commented on #1926
Fixed by adding Norsk bokmål in the app. Will be further solved by #3063

[2019-11-30 06:33] #1926 closed

[2019-12-01 09:55] jeevananthank opened #3215 "401 Unauthorized calls on starting an app instance in SBL"
## Describe the bug
401 Unauthorized calls on starting an app instance in SBL. This happens only on the first time when the user hits url for creating an app instance after login.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and represent a person
2. Hit the url of a deployed app with F12 dev options open
3. See that there are some strange 401 unauthorized calls, but when the

[2019-12-01 10:15] jeevananthank opened #3216 "Not possible to link ui components to datamodel"
## Describe the bug
The link to datamodel dropdown listbox for ui component is empty for newly created apps.

## To Reproduce
Steps to reproduce the behavior:
1. Login to altinn studio and create a new app
2. Upload a datamodel to the app
3. Add ui components in the ui-editor and see that the dropdown list box 'Lenke til datamodell' is empty.

## Expected behavior
It should be possible to link ui

[2019-12-01 11:15] jeevananthank commented on #3038
i can see a 64 px space rather than a 48px space above h4 title. moving back to dev.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/87f8811e-b000-4e82-a38e-3cd6db3b5d55)

[2019-12-01 18:22] acn-dgopa commented on #2548
@alt-how As per the documentation and the testing, it is not sliding timeout. It's session life time and session global cache time

[2019-12-01 21:18] acn-dgopa commented on #2427
As far as i tested, this behaviour is due to the expired token on timeout of 1 day for gitea. PR https://github.com/Altinn/altinn-studio/pull/3217 fixes this issue as well

[2019-12-02 08:40] lvbachmann commented on #3085
Issues with the screen reader, not Altinn Studio.

[2019-12-02 08:40] #3085 closed

[2019-12-02 08:55] lvbachmann commented on #3188
@hanneline Hei! Vi skal sørge for å konvertere app-en du snakker om til ny struktur ved overgangen dit. Fram til da vil vi dessverre ikke prioritere å rette problemene du opplever med test.

[2019-12-02 08:56] erlendoksvoll commented on #808
@SandGrainOne - Check the SBL portal handling :)

[2019-12-02 09:00] lvbachmann commented on #3215
No consequence...

[2019-12-02 10:24] DanRJ opened #3219 "Containers are staying after new deployment"
## Describe the bug
Not really sure what the bug is, however looking at one of the nodes for ttd-at21 cluster, a huge list of containers not containing anything is there. They should be removed or replaced somewhere.

## To Reproduce
Steps to reproduce the behavior:
1. Check one of the nodes connected to the ttd-at21 cluster

## Expected behavior
There shouldnt be that many containers for a single

[2019-12-02 11:07] acn-sbuad commented on #2617
@jeevananthank the change will be out in at23 with next autodeploy :)

[2019-12-02 11:40] acn-sbuad commented on #2547
#2622 should be tested as a part of this issue.

[2019-12-02 11:54] hanneline commented on #3188
OK. Er det pga av endringer at jeg ikke får testet, så bør det vel inn i breaking changes?

[2019-12-02 11:54] acn-sbuad commented on #3200
@jeevananthank I'm not able to recreate bug. Could you please confirm that it is still an issue ?

[2019-12-02 12:15] SandGrainOne commented on #808
@erlendoksvoll Both Jeeva and I have now verified that the dueBefore date is displayed in the SBL message box correctly. Instances with a dueBefore date close in time (a day) is highlighted in red.

We have verified that the date can be set by end user if the field (dueBefore) is empty. We have not tested this as application owner, but the API is the same. Any difference must be in authorization.

[2019-12-02 12:37] jeevananthank commented on #3200
@acn-sbuad i can still see the error

System.NullReferenceException: Object reference not set to an instance of an object.
   at Altinn.Common.PEP.Implementation.PDPAppSI.GetDecisionForUnvalidateRequest(XacmlJsonRequest xacmlJsonRequest, ClaimsPrincipal user)
   at Altinn.App.Api.Controllers.InstancesController.Post(String org, String app, Nullable`1 instanceOwnerPartyId)
   at lambda_method(Closu

[2019-12-02 12:43] erlendoksvoll commented on #808
Good. Closing the issue :)

[2019-12-02 12:43] #808 closed

[2019-12-02 13:21] jeevananthank opened #3221 "An inprogress build is shown twice for some time after build start"
## Describe the bug
A build when started from altinn studio is shown twice, and only one in progress build is shown after sometime.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and find an app for deploy
2. Push the changes to the repo and Navigate to the deploy page
3. Start a new build with a version number and description
4. One can see there are two inprogress bu

[2019-12-02 13:30] lvbachmann commented on #440
@erlendoksvoll The only remaining issue here is not tagged with MVP. Do you recommend we move the Epic to CD1?

[2019-12-02 13:34] erlendoksvoll commented on #440
@lvbachmann As far as I could tell it involves updating already sent prefill to an app,  which hardly seems like pri 1 right now - so I just moved the issue. I guess that means moving the entire epic is ok?

[2019-12-02 14:28] acn-sbuad opened #3223 "Hard deleted instances shown in trash"
## Describe the bug
Instances marked as hard deleted in cosmos are shown in trash in msgbox.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. See error

## Expected behavior
Only soft deleted instances should be shown in messagebox,

[2019-12-02 15:14] lvbachmann commented on #3063
Moved to CD1.1 in accordance with comment from @matsgm

[2019-12-02 15:19] lvbachmann commented on #440
Moved to CD1.1 as per comment from @erlendoksvoll

[2019-12-02 15:52] acn-sbuad commented on #3200
most likely related to #3199

[2019-12-02 16:05] lvbachmann opened #3227 "Configure API management for platform components"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)
## Introduction
As the implementation of API management has been delayed, this is an epic for doing the configuration once it is possible.

## In scope

Lorem ipsum

## Out of scope

Lorem ipsum

## Product requirement

Lorem ipsum

## Design requirement

Lorem ipsum

## Technical/Engineering require

[2019-12-03 07:14] lvbachmann commented on #2907
Description added and verified.

[2019-12-03 07:14] #2907 closed

[2019-12-03 07:20] jeevananthank commented on #3183
tested. closing the issue.

[2019-12-03 07:20] #3183 closed

[2019-12-03 07:22] lvbachmann commented on #1850
Discussed with @Febakke. Given the current scope for MVP, we think Apps are sufficiently tested (as far as we are able with internal resources). Thus closing.
Recommended to do an expert analysis and user test with people with disabilities at a later point.
cc: @AinaEngen

[2019-12-03 07:57] jeevananthank commented on #2617
@acn-sbuad can you check if the feature toggle is set to False in AT23. I get Internal server error from SBL Bridge.

[2019-12-03 07:58] jeevananthank commented on #3216
verified. closing the bug.

[2019-12-03 07:58] #3216 closed

[2019-12-03 08:07] jeevananthank commented on #3149
It is possible to instantiate an app and send inn. Tested in AT21
App: ttd/the-app
Closing the issue

[2019-12-03 08:07] #3149 closed

[2019-12-03 08:10] jeevananthank commented on #3019
Tested from AT21. The instances are moved to archives once they are sent in. Closing the bug.

[2019-12-03 08:10] #3019 closed

[2019-12-03 08:13] lorang92 opened #3229 "PDF receipt is not generated in new runtime structure"
## Describe the bug
PDF receipt is not generated when submitting an instance after the new runtime structure has been implemented.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy an app to at21
2. Navigate to the app and submit
3. See that no pdf receipt is generated.

## Expected behavior
PDF receipt should be generated, with same behavior as before the new app structure.

## Screensh

[2019-12-03 08:20] jeevananthank opened #3230 "Receipt page is empty when accessed from archived altinn 3 instance"
## Describe the bug
Receipt page is empty when accessed from archived altinn 3 instance

## To Reproduce
Steps to reproduce the behavior:
1. Login to studio and deploy an app to a test env
2. Login to test env, create an instance of the app and send in
3. The instance is archived and moved to the archives
4. Open the instance from archives and navigate to the receipt page
5. See that the receipt p

[2019-12-03 08:29] jeevananthank commented on #3215
i see the same bug in AT23, that redirects an user to IDporten.
Reopening the bug. @lvbachmann
![image](https://user-images.githubusercontent.com/49391725/70033243-581d5980-15af-11ea-8a5c-3b05b47b5371.png)

[2019-12-03 08:57] jeevananthank commented on #2186
verified in AT21. hidden components are not visible when an instance is created and not visible until the rendering rule is satisfied to show the ui components.

[2019-12-03 08:57] #2186 closed

[2019-12-03 09:04] #2515 closed

[2019-12-03 09:27] lorang92 opened #3234 "Our react-apps sonarcloud pipeline uses an unsupported TS-version"
## Describe the bug
Our react-apps-code-analysis sonarcloud pipeline fails due to an unsupported ts-version, with error
`##[error]ERROR: You are using version of TypeScript 3.1.6 which is not supported; supported versions >=3.2.1
`

## Screenshot
![image](https://user-images.githubusercontent.com/10416981/70037790-6e2f1800-15b7-11ea-839f-5aaa3f2f2010.png)

## To Reproduce
Steps to reproduce the be

[2019-12-03 09:28] lvbachmann commented on #2424
Moved to the epic that (hopefully) fixes it without any particular effort.

[2019-12-03 09:29] jeevananthank commented on #3073
verified in at21. closing the bug.

[2019-12-03 09:29] #3073 closed

[2019-12-03 09:33] matsgm commented on #3038
You see a 64 px space... but header only has 48px margin.

Form-groups have a margin-bottom of 10px (1rem). The text also has som top-padding. This is the same on all headers.

@Febakke : Could you comment on this?

[2019-12-03 09:47] jeevananthank commented on #1983
@trymen can you retest this bug ?

[2019-12-03 09:56] jeevananthank commented on #2617
verified. Closing the issue

[2019-12-03 09:56] #2617 closed

[2019-12-03 10:40] DanRJ opened #3236 "Altinn Studio needs to be authenticated in relation to deploy"
## Description
Suggestion (see picture aswell):
We have made a prioritized list of tasks that needs to be completed in order:
- [x] 1. Designer should use the same mechanism as Altinn CLI, get a token from Maskinporten, convert the token to an Altinn token. That converted token can be used by Designer to communicate with Storage.
- [x] 2. Expand Platform.Authentication with an endpoint for generat

[2019-12-03 10:45] matsgm commented on #3169
@lvbachmann : This can be moved to post-mvp. I suggest putting this issue in epic #1379

[2019-12-03 10:47] matsgm commented on #3020
@lvbachmann : This should be removed from the current epic.

[2019-12-03 11:02] lvbachmann opened #3239 "Update selected apps to new template/structure"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)
## Description
Because of the change to new app structure/template, already developed apps will need to be converted to be compatible with the latest structure.

## Development tasks
- [ ] Test/sample apps
  - [ ] Endring av navn
  - [ ] Use-every-component app
~~- [ ] NAV pilot~~
~~- [ ] SSB pilot~~

[2019-12-03 11:04] lvbachmann commented on #3236
@TheTechArch Could you please suggest what team should handle this? And give a rough estimate?

[2019-12-03 11:14] jezpoz opened #3240 "First deploy of new app to a new environment shows confusing info box"
## Describe the bug
When a user has created a new app or just got a new environment available. The information/confirmation box before deploying to environment shows that you will replace a deployment, even thought you dont have one.

## To Reproduce
Steps to reproduce the behaviour:
1. Go to dev.altinn.studio
2. Create a new application
3. Build the app as you want it do be
4. Push changes
5. Go

[2019-12-03 11:33] jeevananthank commented on #3240
duplicate of #3042

[2019-12-03 11:33] #3240 closed

[2019-12-03 11:37] nkylstad opened #3241 "Custom server side validation is not supported"
## Describe the bug
After the restructuring (app templates, new apis) there is no support for custom validation written by the app developer. There is a file in the template (`ValidationHandler.cs`), but it is not called from anywhere and there is no documentation on how custom validation should look.

## To Reproduce
Steps to reproduce the behavior:
1. Go to a service and add some custom validati

[2019-12-03 11:56] trymen commented on #1983
Prefill is currently not updated with our new api's. @Camulos, can you please provide us with a datamodel that contains data fields with fixed values?

[2019-12-03 12:10] jeevananthank commented on #3165
minCount for dataType: ref-data-as-pdf has been changed to 0 in the template.
and all new apps get minCount: 0
Closing the bug.

[2019-12-03 12:10] #3165 closed

[2019-12-03 12:16] lorang92 commented on #3230
@jeevananthank this has been fixed and can be retested :)

[2019-12-03 12:32] jezpoz commented on #3240
👍

[2019-12-03 12:36] jezpoz commented on #3213
Possible fix merged with #3235

[2019-12-03 12:37] lvbachmann commented on #1922
Scope for MVP: Simple link from Altinn Studio to docs. Any suggestion on where @Febakke?

[2019-12-03 12:37] jeevananthank commented on #3230
verified. Closing the bug.

[2019-12-03 12:37] #3230 closed

[2019-12-03 12:40] lvbachmann commented on #3241
@nkylstad Is it a good idea to solve #2948 in parallel with this issue?

[2019-12-03 12:46] jeevananthank commented on #2548
verified. closing the issue.

[2019-12-03 12:46] #2548 closed

[2019-12-03 12:47] nkylstad commented on #3241
Yes, this issue should be fixed in order to test #2948. #2948 is just about ready for PR.

[2019-12-03 12:52] lvbachmann opened #3242 "MVP bugs affecting SBL"
This epic is only to get easy access to all MVP bugs that affects the message box and/or bridge.

[2019-12-03 13:01] lvbachmann commented on #3169
Moved as per suggestion from @matsgm

[2019-12-03 13:38] jeevananthank commented on #2427
tested OK. closing the bug.

[2019-12-03 13:38] #2427 closed

[2019-12-03 13:52] matsgm commented on #3056
App-Frontend is updated in branch bug/3056-upload-attachments
There is 500 error from storage. Backend needs to be debugged.

Error:
[code]

[2019-12-03 13:58] matsgm opened #3243 "Fix attachments"
## Introduction
Attachments need to be updated to work with App-Template. This is high prioritized post-mvp.

## In scope
- Upload attachments shall work in an instantiated app.
- Download attachments shall work in receipt
- Table with uploaded attachment that shows the file name, size and status of the attachment and a delete attachment button.

## Technical/Engineering requirement
- App-Frontend

[2019-12-03 14:02] trymen opened #3244 "Generic error message when attempting to create a new app with existing name"
## Describe the bug
See title

## To Reproduce
Steps to reproduce the behavior:
1. Go to dashboard
2. Click the "ny tjeneste" button
3. Select a tjenesteeier
4. Add an existing name from the tjenesteeier in the tjenestenavn field
5. Klikk opprett

## Expected behavior
"Lagringsnavnet finnes allerede" should be displayed when the service name provided already exists.

## Screenshots
![nytjeneste](h

[2019-12-03 14:02] matsgm commented on #2089
All issues closed or moved to other epics ( #3243 )

[2019-12-03 14:02] #2089 closed

[2019-12-03 14:05] jeevananthank opened #3245 "Possible to (seemingly) create altinn 3 instances after the user has logged out"
## Describe the bug
When the user is not logged in, and tries to instantiate an app, we show the page like they are seemingly creating an instance. This behaviour is cancelled when the user moves the mouse (and keepAlive is triggered).

## To Reproduce
Steps to reproduce the behavior:
1. Login to a test environment and repesent a person
2. Open another tab and create a new instance of a deployed a

[2019-12-03 14:25] jeevananthank commented on #3213
verified. The instance is being validated at instance level before completeProcess.
Closing the issue.

[2019-12-03 14:25] #3213 closed

[2019-12-03 15:43] lvbachmann commented on #3097
@OddArneSaetervik This is among the things you expected team Tamagotchi to do, right?
cc: @altinnadmin; @Torsrud

[2019-12-04 07:24] jeevananthank commented on #1622
Closing the issue as the endpoints are being used by the cli app and is tested.

[2019-12-04 07:24] #1622 closed

[2019-12-04 07:47] SandGrainOne commented on #1622
It is going to used by authentication in the platform (e.g. storage) during the validation of Altinn JSON Web Tokens. The code has been written and tested, but not activated yet. My assumption was that there are no surprises when authentication is activated.

[2019-12-04 08:15] jeevananthank opened #3248 "500 Internal server error on GET deleted instance by id"
## Describe the bug
500 Internal server error on GET deleted instance by id.

## To Reproduce
Steps to reproduce the behavior:
1. Use runtime API to create an instance of a deployed app
2. Hard delete the instance using platform API
https://platform.{{envUrl}}/storage/api/v1/instances/{{instanceOwnerId}}/{{instanceId}}?hard=true
3. Get the instance by ID
GET /ttd/how-to-name-it/instances/50012373/

[2019-12-04 08:24] jeevananthank opened #3249 "DELETE attachment data is not deleting the attachment"
## Describe the bug
DELETE attachment data is not deleting the attachment.

## To Reproduce
Steps to reproduce the behavior:
1. Use Runtime API, create an instance of the app that has attachment component
2. Add an attachment to the instance created
3. DELETE: the attachment uploaded with the guid
[/ttd/how-to-name-it/instances/50012373/a6873dd2-1813-4cd6-8f89-7039d7695226/data/a83f92e6-6b99-4a9b-

[2019-12-04 09:03] acn-sbuad commented on #3200
ready for test, there shouldn't be a need to create a new app

[2019-12-04 09:03] acn-sbuad commented on #3199
ready for test, there shouldn't be a need to create a new app

[2019-12-04 09:24] jeevananthank commented on #3223
verified in AT21. closing the issue.

[2019-12-04 09:24] #3223 closed

[2019-12-04 09:51] jeevananthank opened #3253 "Push changes is enabled when there is no changes in local"
## Describe the bug
In Altinn studio when one pulls remote changes from the repo, the 'push' is also enabled.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and find an app
2. Edit the app remotely (in the repo) and commit the changes to master
3. In Studio, Lage Page shows , Pull and Push buttons enabled.

## Expected behavior
Push should not be enabled as there is no

[2019-12-04 10:46] jeevananthank opened #3255 "Internal server error on POST instance when authentication level is lower than required"
## Describe the bug
Internal server error on POST instance when authentication level is lower than required.

## To Reproduce
Steps to reproduce the behavior:
1. Find an app with PEP enabled, policy having minimum-authenticationlevel: 2
2. Login to SBL and get cookies with level 1 login (with password)
3. Send a request to POST instance from Postman: [](https://{{org}}.apps.{{envUrl}}/{{org}}/{{ap

[2019-12-04 10:46] acn-dgopa commented on #3245
PR is created in SBL

[2019-12-04 12:29] jeevananthank commented on #3200
this is tested when PDP gives Permit as decision. Seeing issues when the PDP gives NotApplicable.
Other issues will be registered as separate bugs.

[2019-12-04 12:29] #3200 closed

[2019-12-04 12:41] jeevananthank commented on #3255
I see the below error even when PDP decision is NotApplicable. I expect not to see a 500 Internal server error as response code. @Kritsi

System.InvalidOperationException: No authentication handler is registered for the scheme 'Not Authorized'. The registered schemes are: JwtCookie. Did you forget to call AddAuthentication().Add[SomeAuthHandler]("Not Authorized",...)?
   at Microsoft.AspNetCore.Au

[2019-12-04 12:58] jeevananthank commented on #3199
verified ok. closing the issue.

[2019-12-04 12:58] #3199 closed

[2019-12-04 13:36] jeevananthank commented on #1562
@DanRJ is this only creating an app instance ? Or what about reading an instance with appropriate roles ?

[2019-12-04 14:23] lvbachmann commented on #2595
@alt-how This needs to be specified better to be possible to solve...

[2019-12-04 16:43] jeevananthank commented on #3110
verified. closing the task.

[2019-12-04 16:43] #3110 closed

[2019-12-04 16:57] jeevananthank commented on #3161
verified. Closing the issue.

[2019-12-04 19:27] jeevananthank commented on #3249
This is fixed by @dskogan and verified in AT21. Closing the issue.

[2019-12-04 19:27] #3249 closed

[2019-12-04 19:40] jeevananthank commented on #3255
@Kritsi is this fixed ? i still see the same error. moving this back to dev.

[2019-12-05 07:56] matsgm commented on #2399
@trymen : This is not reproducible in AT21 any more. I think the Header, which was interfering with CSS, is replaced. Please retest.

[2019-12-05 08:02] acn-dgopa commented on #2992
@trymen Did you come across this issue recently? #2548 is fixed now and probably this doesn't occur anymore?

[2019-12-05 08:09] trymen commented on #2992
@acn-dgopa, I last had this occur last week before the merge of #2548. I will keep you posted if it reoccurs. For now, I think this issue can be closed, and re-opened should it occur. Do you agree @lvbachmann?

[2019-12-05 08:21] jeevananthank commented on #3204
@dskogan test is complete. This can be closed once the documentation is complete for the task and all the tasks are marked.

[2019-12-05 08:31] acn-dgopa commented on #2495
@acn-sbuad is it because of the lastchangedby not updated?

[2019-12-05 08:46] matsgm commented on #3038
@jeevananthank : It's the same margins on all headers.

[2019-12-05 08:47] #3038 closed

[2019-12-05 08:51] jeevananthank commented on #3245
This cannot be tested until T3.0 is enabled in AT23.
@RadhaRajagopalan can you let me know, when is it possible to enable T3.0 in AT23  for testing ?

[2019-12-05 09:07] RadhaRajagopalan commented on #3245
@jeevananthank We cannot enable it until we go into TT02. Please use other cloud environments to test the fix if its urgent

[2019-12-05 09:10] jeevananthank commented on #3245
the fix is only available in 19.12 branch and cannot be tested in any other cloud environments.
From here, i see that we have to wait until the fix is merged to any other environment.
@lvbachmann FYI

[2019-12-05 09:12] dskogan commented on #3204
Have updated documentation in altinn-api.

[2019-12-05 09:13] jeevananthank commented on #3204
closing the issue since all the tasks are completed for this issue.

[2019-12-05 09:13] #3204 closed

[2019-12-05 09:20] dskogan commented on #2882
I have created two endpoints in LocalTest app to generate jwt token for org and app.

[2019-12-05 11:05] jeevananthank commented on #1562
I have checked this , when POST instance call gives 403 as response code, a blank page is shown to the page and NOT the expected page. Moving this issue back to 'inprogress'

[2019-12-05 11:14] jeevananthank commented on #3255
The response code is 403 Forbidden when the user is logged in with lower authentication level. Closing the issue.

[2019-12-05 11:14] #3255 closed

[2019-12-05 12:03] jeevananthank commented on #3027
Test is complete for this task. bugs found are fixed and closed. Closing the issue.

[2019-12-05 12:03] #3027 closed

[2019-12-05 12:21] trymen commented on #2399
Retested OK in at21. closing this bug as fixed.

[2019-12-05 12:21] #2399 closed

[2019-12-05 13:57] jeevananthank commented on #3184
This is not seen anymore after #3204.
Closing the issue.

[2019-12-05 13:57] #3184 closed

[2019-12-05 14:05] SandGrainOne commented on #2879
Finally implemented a form of certificate reuse instead of having the certificate being retrieved from the Key Vault (or disk) on every request. The logic was implemented in version 1.0.6-alpha of the JWTCookieAuthentication package and Authentication is now using a version that has this mechanism.

[2019-12-05 14:25] SandGrainOne commented on #3018
This is in essence a duplicate of #2547 and has been implemented there. Closing.

[2019-12-05 14:25] #3018 closed

[2019-12-05 14:55] jeevananthank commented on #3243
added the uploaded attachments list to the scope.
existing: uploaded attachments table
![image](https://user-images.githubusercontent.com/49391725/70246228-b137e980-1777-11ea-89af-371f0661c4e3.png)

[2019-12-05 18:37] altinnadmin commented on #3215
Hmmm, this is the same as I'm seeing when testing apps locally.

[2019-12-05 20:21] altinnadmin commented on #2683
Fixed this as part of a different fix, so just isolated it, created PR #3271 and changed milestone and release.

[2019-12-05 21:28] altinnadmin commented on #898
@trymen @acn-dgopa This is not a bug, it's a feature. If the user has chosen his/her preferred language in Gitea, this is preserved so that next time the users preferred language is used. If no cookie, the browser settings is used as fallback.

If, for testing purposes, one needs a set language for login or other Gitea pages, add a lang-parameter. For example `/repos/user/login?lang=en-US` or `/re

[2019-12-05 21:29] #898 closed

[2019-12-05 22:10] altinnadmin commented on #2540
@lorang92 @jezpoz @matsgm  Have a look at the comment in PR #3272.

Traefik is missing some basic functionality that is needed in Studio. Let's discuss the status of this one tomorrow.

[2019-12-06 07:41] lvbachmann commented on #3059
Retested and verified.

[2019-12-06 07:41] #3059 closed

[2019-12-06 08:58] acn-dgopa commented on #2637
@jeevananthank @lvbachmann This can be closed for now, as the avaialble at21 environment doesn't have this issue anymore.

[2019-12-06 09:09] acn-dgopa commented on #3046
@jeevananthank This doesn't happen in AT21, the available environment as of now

[2019-12-06 09:45] TheTechArch opened #3274 "Add helm values for well known endpoint for app deploy"
We need to add config values for AppSettings:OpenIdWellKnownEndpoint for deploy for helm for the different test environments where app is deployed.

App needs this config.

[2019-12-06 09:46] #2683 closed

[2019-12-06 11:31] dskogan commented on #2882
Run the deployment/LocalTest app.

Ask for orgToken by GET http://localhost:5101/authentication/api/v1/orgToken (org, orgNumber, scope),

Ask for appToken by GET http://localhost:5101/authentication/api/v1/appToken (userId, authenticationLevel).

[2019-12-06 11:41] dskogan commented on #1933
Need to split this. The remaining two tasks will require more work.

[2019-12-06 13:39] trymen opened #3279 "504 gateway timeout from nginx during app creation"
## Describe the bug
Creating a new app returns an error message, but the app is created

## To Reproduce
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on ny tjeneste
3. Fill in a new app name, add organization
4. Click oprett
5. See error message returned by studio
6. Refresh dashboard, search for the new app
7. App has been created

## Expected behavior
If the app name is valid, an

[2019-12-08 10:42] matsgm commented on #2532
@jeevananthank : There have been changes in the UI since this issue was created:

Header is replaced. Not applicable anymore.

Both "mottager" and "mottaker" is allowed. The government in Norway is using ["mottager"](https://www.regjeringen.no/no/om-nettstedet/innholdsstrategi/10-bud-for-godt-innhold-pa-regjeringen.no/skriveregler/id2517901/)

The same reference number is shown in the platform rec

[2019-12-08 11:47] DanRJ opened #3281 "Build and deploy pipelines for apps are failing"
## Describe the bug
Can't build nor deploy an app because of pipelines failing.
@jezpoz looked at the bug friday 07.12 and the problem has something to do with SSL certificate.

## To Reproduce
Try to build or deploy an app.

## Expected behavior
Should be able to build and deploy an app.

## Screenshots
![image.png](https://images.zenhubusercontent.com/5d765941eb71d10001e81ae7/a0da5734-0f67-4bbf-

[2019-12-08 12:14] DanRJ opened #3282 "Deployment of an app will deploy appmetadata + policy.xml before the pipeline has started"
## Describe the bug
When deploying an app to an environment, the deployment will first deploy appmetadata + authorization policy.xml file to that environment for that app. Then the pipeline will start and can potentially fail. If it fails, the updated appmetadata and policy.xml will be deployed there even though the new app version has not been deployed.

## To Reproduce
Steps to reproduce the beh

[2019-12-08 12:21] altinnadmin commented on #3281
Yeah, seems like the certificate chain is incomplete in dev.altinn.studio.

[2019-12-08 14:00] jeevananthank commented on #3046
Tested in at21. Closing this for now and will be reopened if the issue is observed again.

[2019-12-08 14:00] #3046 closed

[2019-12-08 14:06] jeevananthank commented on #2637
This issue is not seen in AT21 . @lvbachmann should i close this one or wait until its tested in 19.12 code ?

[2019-12-08 14:14] jeevananthank commented on #2455
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/66bfb94c-68ae-44af-8eb4-939fa0465b9b)

Could see a bottom padding when there are more attachments.
@Febakke can you comment if this looks fine ?

[2019-12-08 14:42] jeevananthank commented on #2429
i could still see a bounce in the receipt page. @matsgm
![receipt page bouncing.gif](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/3834ceb8-f1cd-4152-a517-3c8993a34878)

[2019-12-08 17:24] altinnadmin commented on #3033
@alt-how @lvbachmann Created PR #3283 for upgrading Gitea from 1.7 to 1.10.1.

[2019-12-08 17:32] altinnadmin commented on #969
@lvbachmann Will get fixed by PR #3283 so I've changed release and milestone.
Caused by missing footer in the Gitea templates (and therefore some missing javascript files).

[2019-12-08 17:54] altinnadmin opened #3284 "Upgrade to .NET Core 3.1"
Since [.NET 3.1 is released](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/) we should upgrade asap from 3.0.

The main reason is that 3.1 has [long term support (LTS)](https://dotnet.microsoft.com/platform/support/policy/dotnet-core), with 3 years of support. 3.0 support ends in march 2020. So this will be very important for apps and our pilots.

## Tasks
- [x] Update app template

[2019-12-08 18:01] altinnadmin commented on #3131
.NET Core 2.2 has end of support December 23rd.

[2019-12-09 06:49] altinnadmin commented on #3134
@matsgm Isn’t this done and can be closed?

[2019-12-09 06:58] altinnadmin commented on #3099
@Torsrud @OddArneSaetervik Isn’t this done and can be closed?

[2019-12-09 07:04] trymen opened #3286 "Building an app fails in the update status pipeline step"
## Describe the bug

- Link to build log [here](https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=21978)

## To Reproduce
Steps to reproduce the behavior:
1. Go to helptext1219 app
2. Click on deploy tab
3. Enter a version number, and a comment, then build the app
4. Build fails on the pipeline step mentioned in the title

## Expected behavior
If the app contains no errors, then the

[2019-12-09 07:10] trymen commented on #3286
duplicate of #3281, closing.

[2019-12-09 07:10] #3286 closed

[2019-12-09 07:21] Febakke commented on #2455
@jeevananthank
This looks fine.

[2019-12-09 07:22] jeevananthank commented on #2455
closing the bug.

[2019-12-09 07:22] #2455 closed

[2019-12-09 07:28] jeevananthank commented on #2532
@matsgm
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/b90be78c-cce2-4db5-86b1-ca0d8a8e5f2d)

[2019-12-09 07:29] trymen commented on #2468
Tested with by instantiating and fillign app with postman, and "sendt inn" in at21. Receipt looks correct, closing this bug as fixed.
![kvitteringKorrekt.png](https://images.zenhubusercontent.com/5c8b68adfd0adb6f09c8385c/1de1cf78-fc2e-4999-87ce-28c64a33318b)

[2019-12-09 07:29] #2468 closed

[2019-12-09 07:48] trymen commented on #3134
After a discussion from @matsgm, this issue can be verified by verifying the associated pipeline trigger on commit to altinn-studio. The pipeline has been confirmed to trigger, and commit to altinn-cdn, static js files are also updated. Closing this issue as QA approved.

[2019-12-09 07:48] #3134 closed

[2019-12-09 08:24] TheTechArch opened #3288 "Add support for key rollover in JWTCookieAuthentication"
Since #1622 was closed without fixing the refresh of JWKS when certificate has changed we need to implement this in another issue.

- [x] Implement configuration update in runtime when certificate is renewed. (You can problaby reuse stuff from JWT bearer in ASP.Net core that has this implemented

https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBe

[2019-12-09 09:00] eguneriu commented on #2785
Done when writing unit tests

[2019-12-09 09:02] #2785 closed

[2019-12-09 09:24] acn-sbuad commented on #3274
@jeevananthank  test by verifying that openid endpoint is included in envvariables in cluster.

[2019-12-09 09:31] DanRJ opened #3289 "Tokens shouldnt be logged"
## Describe the bug
A token is logged, shouldnt be logged.
Go over logs and make sure sensitive information is not logged.

## Tasks
- [x] Remove token from logs in Platform.Authentication
- [ ] Remove token from other logs in other solutions

[2019-12-09 10:27] TheTechArch opened #3291 "Authentication of end user systems using id porten"
## Description
Altinn Apps and Altinn Platform will only support end user system with a authenticated user from id porten or a organization from maskinporten.

The concept of end user systemID used in Altinn II will no longer exist.  End user systems will be public clients that authenticate user through ID-porten.

ID-porten OIDC is described [here](https://difi.github.io/felleslosninger/idporten_

[2019-12-09 10:28] TheTechArch commented on #1333
With the new template this is not relevant anymore.

[2019-12-09 10:28] #1333 closed

[2019-12-09 12:09] jeevananthank opened #3296 "Not possible to start a new app instance"
## Describe the bug
Not possible to start a new app instance. POST instance gives 500 as response code.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start an instance of any deployed app
2. See in networks for the POST instance call
Response code: 500 Internal server error
Response Body: "Failure in multipart prefil. Could not create an instance of ttd/new-pep-test for par

[2019-12-09 12:13] jeevananthank opened #3298 "Instances are not visible in the messageBox"
## Describe the bug
Archives in the messagebox is empty eventhough the partyId has archived instances in the storage.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL with an user who is having archived instances of an app.
2. Navigate to the archives and see that it is empty.
Note: No instances are visible in the messageBox

## Expected behavior
The archives should list the insta

[2019-12-09 12:36] lvbachmann commented on #3279
@trymen I tried to recreate this bug, but things worked fine (but were very slow). Retest?

[2019-12-09 13:29] #2746 closed

[2019-12-09 13:39] #969 closed

[2019-12-09 13:39] #3033 closed

[2019-12-09 13:54] lvbachmann commented on #2992
Closed as per comment by @trymen

[2019-12-09 13:54] #2992 closed

[2019-12-09 14:13] lvbachmann commented on #3288
@DanRJ Rune has specified that you are the most efficient person to solve this issue. Thus assigned to you.

[2019-12-09 14:13] TheTechArch opened #3302 "Add end event to PDP request in context handlers"
We need to add end event to the decision request when a instance is in end event.

This to make it possible to define who can read the instance after process has ended without letting them read the whole flow. Same goes for write.

- [x] Update standard pep code to add end event to decision request
- [x] Add end event to PDP request in messagebox custom PEP  @Kritsi
- [x] Upate moq PEP in integrat

[2019-12-09 14:16] altinnadmin commented on #2960
@lvbachmann Is the milestone correct for this one?

[2019-12-09 14:16] lorang92 opened #3303 "Automate packaging/publication of our NuGet packages"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)

## Description
Currently we are manually packaging and publishing NuGet packages for our .net projects that are published as packages. This is time-consuming and error-prone. This process should be automated when new code is merged to master, or at least be able to be triggered as a pipeline job.

#

[2019-12-09 14:19] lvbachmann commented on #3052
The intention of the user story has been achieved by resolving bugs. Thus closing. Reopen if you disagree @acn-sbuad

[2019-12-09 14:19] #3284 closed

[2019-12-09 14:19] #3052 closed

[2019-12-09 14:39] lvbachmann commented on #2495
@acn-dgopa @acn-sbuad Is this a duplicate of #2424?

[2019-12-09 15:11] lvbachmann commented on #1337
If achieving this isn't Epic, nothing is.

[2019-12-09 15:30] lvbachmann commented on #2471
@acn-sbuad @matsgm Is this still an issue after the progress we've made on #2533?

[2019-12-09 15:33] lvbachmann commented on #125
Estimate set to 0 due to the main objective of this epic being resolved by other issues.

[2019-12-09 15:36] lvbachmann commented on #3089
@lorang92 Please see if issue 2 in last comment from @jeevananthank is easily resolvable. If so, it should be resolved in MVP.

[2019-12-09 15:49] lorang92 commented on #3170
@jeevananthank this has been fixed and can be retested. Have supplied with some before and after metrics in the issue .

[2019-12-09 16:03] altinnadmin commented on #2306
@trymen @lvbachmann
Now that we've removed the routing for runtime I guess this issue is no longer relevant?
Seems like we now get a proper 404 from Gitea in dev.altinn.studio.

[2019-12-09 21:35] altinnadmin commented on #502
I actually fixed this as part of PR #3283. Added a "Designer" menu when at a repo.

![image](https://user-images.githubusercontent.com/6088624/70475083-1707d680-1ad4-11ea-8d36-8042f77b9b88.png)

[2019-12-09 21:35] #502 closed

[2019-12-10 07:16] acn-dgopa commented on #2495
@lvbachmann It's not duplicate, but related issues. Fixing #2424 would also solve this issue. But testing has to be done separately for both issues.

[2019-12-10 07:27] jeevananthank commented on #3170
Verified in dev.altinn.studio. Closing the bug.
App: newtestuser/timout-test

[2019-12-10 07:27] #3170 closed

[2019-12-10 07:39] matsgm commented on #2429
I think the bounce is not related to the receipt page.
The close button is now moved outside the modal.

[2019-12-10 07:48] jeevananthank opened #3310 "InvalidOperationException for requests towards Authentication"
## Describe the bug
InvalidOperationException for requests towards Authentication

## To Reproduce
Steps to reproduce the behavior:
1. Send a request to: https://platform.{{envUrl}}/authentication/api/v1/authentication?goto=https://{{org}}.apps.{{envUrl}}/{{org}}/{{app}}/
with .ASPXAuth cookie from an SBL login
2. The response code is 500 and the response body has:
System.InvalidOperationException

[2019-12-10 07:50] jeevananthank commented on #2429
ReTest of the issue is blocked.

[2019-12-10 07:52] jeevananthank commented on #2948
retest blocked

[2019-12-10 07:55] jeevananthank commented on #3274
OpenIdWellKnownEndpoint is added to the AppSettings in the  AppSettings.json file in the repo.
Closing the issue.

[2019-12-10 07:55] #3274 closed

[2019-12-10 09:28] lorang92 commented on #3042
@jeevananthank this has been fixed and can be retested.

[2019-12-10 09:35] jeevananthank commented on #3042
Retest is blocked by #3281

[2019-12-10 09:40] lorang92 commented on #3042
@jeevananthank can be retested using the service ttd/utroligbra , which has a built version but no deploys

[2019-12-10 09:50] jeevananthank opened #3316 "User redirected to repos and not to dashboard in studio"
## Describe the bug
User redirected to repos and not to dashboard in studio.

## To Reproduce
Steps to reproduce the behavior:
1. Login to altinn studio and logout from the dashboard
2. User is navigated to  https://dev.altinn.studio/repos/
3. Login again using the sign in option in the page and same user credentials
4. User is redirected to https://dev.altinn.studio/repos/ and not the dashboard o

[2019-12-10 09:55] #1244 closed

[2019-12-10 10:06] matsgm commented on #2471
@acn-sbuad : Any thoughts on this?

[2019-12-10 10:10] altinnadmin commented on #3316
It's currently not possible to configure Gitea to redirect to root after logout using `redirect_to` param used when logging in. I don't think this is a big problem.

If it is we should submit a PR to Gitea.

[2019-12-10 10:39] nkylstad opened #3317 "Server side events not triggered after app restructuring"
## Describe the bug
Continuation from #3241 , regarding other server-side events that were previously supported:
- Calculation
- Instantiation
These events are no longer supported

## To Reproduce
- Add server-side calculation to an app, and see that this is not run
- Add instantiation checks to an app, and se that this is not run.

## Expected behavior
Calculation event should be run on save data

[2019-12-10 10:56] lorang92 commented on #3316
Worth mentioning that after a user is logged in you are redirected to the gitea dashboard.

[2019-12-10 11:08] altinnadmin commented on #3316
@lorang92 Only if you log in from the gitea dashboard. If you log in from studio startpage you end up there. Just double-checked in dev.altinn.studio right now :smiley:

[2019-12-10 11:26] eguneriu opened #3320 "Create document for CLI Application"
The documet shall describe both use and implementation

[2019-12-10 11:27] jeevananthank commented on #3042
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/b3971309-d510-4c15-8292-1626af196a43)
verified.

[2019-12-10 11:27] #3042 closed

[2019-12-10 11:27] #3320 closed

[2019-12-10 11:44] lorang92 opened #3321 "Make Platform.Receipt work without dependencies to AltinnCommon"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)

## Description
Platform.Receipt has been dependent on AltinnCommon. This references are now removed, and we should update how receipt frontend fetches languages. Should also investigate that everything works as intended

## Tasks in grooming/preparation
- [x] Verify that this issue meets [DoP](https

[2019-12-10 11:54] jeevananthank commented on #3281
build goes fine but the start deploy call is failing with 500 as response code. Will be registered as a separate bug.
@lvbachmann should this be closed ?

[2019-12-10 12:14] jeevananthank commented on #3215
i still see the same in AT21. Let me know if this is the expected behavior ? @acn-dgopa

[2019-12-10 12:23] #3281 closed

[2019-12-10 12:45] jeevananthank commented on #3279
this is working now. closing the issue.

[2019-12-10 12:45] #3279 closed

[2019-12-10 12:48] jeevananthank commented on #3310
this is verified now. Fixed by @dskogan , closing the issue.

[2019-12-10 12:48] #3310 closed

[2019-12-10 13:35] lvbachmann commented on #2637
Iceboxed until test is available in an environment with 19.12 code

[2019-12-10 13:39] lvbachmann commented on #2306
@altinnadmin I still get a nginx 404 when trying dev.altinn.studio/Repos/*. Still not an MVP issue though.

[2019-12-10 13:40] jezpoz opened #3325 "Upgrade to Traefik 2.1 in apps clusters and Helm 3.0 in all clusters"
## Introduction

When upgrading from Traefik 1.7 to 2.1, to not limit how we move forward should all ingresses be rewritten from `Ingress` to `IngressRoute`. This will break all apps since the helm charts we use is in the Gitea repositories.

When this is done, we should also delete all deployments that have been done, clean up in the deployment database.
Also, a great time to upgrade til helm 3.0

[2019-12-10 13:42] lvbachmann commented on #2495
Estimate set to 0 due to assumption of being solved by other issue.

[2019-12-10 13:54] DanRJ commented on #3296
Stephanie fixed the issue and it should be resolved now.

[2019-12-10 13:55] jezpoz commented on #2540
Traefik in Studio is no longer relevant, we're using NGINX because of cookie-proxy.

[2019-12-10 14:22] #2882 closed

[2019-12-10 14:22] jeevananthank commented on #2882
test complete.

[2019-12-10 14:35] jeevananthank commented on #3296
tested with a new app. possible to create an app instance both using postman and SBL .closing the issue.

[2019-12-10 14:35] #3296 closed

[2019-12-10 14:40] jeevananthank commented on #2429
close (X) button is outside the modal, but it cannot be access by keyboard or it is not getting highlighted when tabbed. @matsgm

[2019-12-10 14:49] jeevananthank commented on #2532
i could still a difference in color near the username.

[2019-12-10 15:17] Febakke opened #3328 "Dashboard fixes - Context switching"
## Description
We need to fix some painpoints on our dashboard. There has been made new design sketches, these changes should be implemented incrementally. This will make it easier to see if the changes work as intended. Context switching will be the biggest change in this issue. Also some small changes should be done to start upgrading the dashboard to out new design.

## Small Changes
* Remove h

[2019-12-10 15:31] altinnadmin commented on #1785
@lvbachmann I did som "minor" tuning of the dashboard ref. https://github.com/Altinn/altinn-studio/pull/3313#issuecomment-564083086

Is this good enough for this issue to be closed? And perhaps also #1132 and #1133?

[2019-12-10 15:44] DanRJ commented on #3288
Might be hard to test manually.

[2019-12-10 18:53] altinnadmin commented on #930
This is not a problem anymore, dashboard works fine locally without both repos and orgs.

[2019-12-10 18:53] #930 closed

[2019-12-10 21:14] #2942 closed

[2019-12-10 21:14] #3150 closed

[2019-12-10 21:27] altinnadmin commented on #1922
I've recently changed the help-links in the Gitea-menus to our docs, and also added a link for help for login/register-user at our start page.

![image](https://user-images.githubusercontent.com/6088624/70570246-d07daf00-1b9b-11ea-9f85-b2a4ba1e9774.png)

[2019-12-11 08:45] Febakke commented on #1922
The only place that makes sense to me at this stage is in the dropdown menu in the top right corner. This should be generic link to our docs. At a later stage we should look into how to give the user more specific links to our docs like in @altinnadmin example.
![Skjermbilde 2019-12-11 kl  09 29 34](https://user-images.githubusercontent.com/33222679/70605314-92fc3e80-1bfa-11ea-8d9f-07a317506803.pn

[2019-12-11 08:56] jeevananthank opened #3336 "Apps from other org are not visible in dashboard"
## Describe the bug
Apps from other org are not visible in dashboard.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio with an user who is not gitea admin
2. The dashboard does not list the apps from other orgs

## Expected behavior
Apps from other org should be listed in the dashboard.

## Additional info
Env: dev.altinn.studio
Browser: Chrome 78

[2019-12-11 09:07] lvbachmann commented on #1686
SLA proposed. Any adjustments will be part of ordinary maintenance.

[2019-12-11 09:07] #1686 closed

[2019-12-11 09:19] lorang92 commented on #3089
@jeevananthank issue 1 & 3 are fixed and ready for retest.
@lvbachmann as discussed issue 2 is not something that can be fixed, as some use this pdf as their source of data. Agreed?

[2019-12-11 09:21] lorang92 commented on #3229
@jeevananthank this has been fixed and can be retested.

[2019-12-11 09:27] #2450 closed

[2019-12-11 09:47] lvbachmann opened #3338 "User asked to clone even when owner of repo"
## Describe the bug
User is redirected to the clone repo page eventhough the logged in user is the owner of the app, cloneRepo call gets 500 as response code.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio
2. Create an app and navigate back to dashboard
3. Open the same app and user is redirected to clone page.
4. Clone the app and see the CloneRemoteRepository call ge

[2019-12-11 09:54] lvbachmann commented on #3089
@lorang92 I have asked NAV (who are the ones who have specified that they use the PDF in their processing) if solving issue 2 would be a problem for them. If not, we want to do this change to increase legibility for the end user. If the rest of this issue is successfully retested before we get an answer, it can be closed - and a new issue will be made for the last adjustment.
cc: @jeevananthank

[2019-12-11 10:03] jeevananthank opened #3340 "InternalServerError on PUT next process when user is not permitted"
## Describe the bug
When the user is not allowed to change/move a process to next task, the user gets a 500 internal server error as response.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL with an user and start an instance
2. From the logged in user delegates roles to user2 apart from the roles defined in policy.xml
3. Login as user 2 and get the cookies (.ASPXAuth, AltinnStud

[2019-12-11 10:10] jeevananthank opened #3341 "Possible to completeProcess and archive an instance without allowed roles"
## Describe the bug
Possible to completeProcess and archive an instance without allowed roles.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL with an user and start an instance
2. From the logged in user delegates roles to user2 apart from the roles defined in policy.xml
3. Login as user 2 and get the cookies (.ASPXAuth, AltinnStudioRuntime)
4. Create a new PUT request to comple

[2019-12-11 10:11] altinnadmin commented on #1922
@Febakke That's in line with the link in the dropdown in Gitea:

![image](https://user-images.githubusercontent.com/6088624/70612188-c3e27080-1c06-11ea-8f39-370963d8bb00.png)

[2019-12-11 10:37] trymen commented on #3338
Can confirm I also experience this, all apps owned by the AutoTest user recieve the same error as mentioned above.

[2019-12-11 10:40] lvbachmann commented on #1854
Moved to CD 1 due to no apps being released in parallel with the MVP launch.

[2019-12-11 10:58] jeevananthank opened #3343 "Possible to send inn instance with fail form data"
## Describe the bug
It is possible to click on 'Send inn' when there is fail with the formdata of an instance and the user gets to the see the receipt page.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start an app instance in a test env
2. Fill in fail data in the ui components that triggers validation and user can see an error message on the top of the page
'Det er feil

[2019-12-11 11:31] jeevananthank commented on #3340
verified after the nuget update. the response code is 403 forbidden.
closing the bug

[2019-12-11 11:31] #3340 closed

[2019-12-11 11:59] altinnadmin opened #3346 "Username/pwd in login does not scale on mobile"
## Describe the bug
Non-responsive input fields in Gitea login. Bug in our template.

![image](https://user-images.githubusercontent.com/6088624/70619717-e29c3380-1c15-11ea-9512-53dafbefddea.png)

[2019-12-11 12:10] acn-sbuad commented on #1251
Instantiation requires custom PEP. Bug appeared after deploy to AT21. Moving issue back to implementaiton

[2019-12-11 12:25] #3346 closed

[2019-12-11 12:40] jeevananthank commented on #3229
verified.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/d07c480f-26e5-4371-a63a-554a8a35787f)

[2019-12-11 12:40] #3229 closed

[2019-12-11 12:40] lorang92 commented on #3321
@jeevananthank this has been fixed and can be retested. Need to test that language works in Platform Receipt, and that everything works as before :)

[2019-12-11 12:58] jeevananthank commented on #3089
Tested. New issues to be created for radio buttons /checkboxes and "on behalf of" implementation.
Closing this bug.

[2019-12-11 12:58] #3089 closed

[2019-12-11 13:10] lorang92 opened #3350 "PDF should include information about both userParty and Party"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)
## Description
Currently, the pdf only contains information about who the instance is submitted on behalf of. The PDF should include both which user that did the submission and what party it was done on behalf of.

## Acceptance criteria
- PDF contains information of who sent in and who it is on beha

[2019-12-11 13:27] jeevananthank commented on #3321
Receipt page for an archive instance is verified.

[2019-12-11 13:27] #3321 closed

[2019-12-11 13:52] lorang92 commented on #3350
duplicate of #3116

[2019-12-11 13:52] #3350 closed

[2019-12-11 14:11] matsgm commented on #2429
It`s accessible with the keyboard. Try adding the ChromeVox extension in Chrome.
The border of the button is not styled. You should probably create a new styling/wcag issue.

[2019-12-11 14:40] jeevananthank commented on #2429
New issue will be created for the stlying issues. Closing this now.

[2019-12-11 14:40] #2429 closed

[2019-12-11 14:53] SandGrainOne commented on #2905
Updated in version 2.2.1-alpha of JWTCookieAuthentication.

Closing issue. Change is considered low risk and hard to verify with targeted tests.

[2019-12-11 14:53] #2905 closed

[2019-12-11 14:54] jeevananthank opened #3356 "Styling issues with receipt page from archives."
## Describe the bug
1. The border of the close button is not styled.
2. The Close button is not aligned with the receipt modal

## To Reproduce
Steps to reproduce the behavior:
1. Login to test env and start an instance of deployed app
2. Fill and send inn instance
3. Find the instance in archives and open the receipt of the instance
4. Clone button does not gets highlighted when tabbed and is not

[2019-12-11 15:02] lvbachmann commented on #1389
All issues in epic closed, and sufficiently tested. Thus closing the epic.

[2019-12-11 15:02] #1389 closed

[2019-12-11 15:10] lorang92 commented on #1922
@jeevananthank this has been implemented and can be tested

[2019-12-11 16:56] #3338 closed

[2019-12-12 07:42] trymen opened #3360 "POST to designer/api/v1/ttd/helptextbug/Deployments returns 500 error"
## Describe the bug
Not possible to deploy to either AT21 or AT23 in dev, due to the above error

## To Reproduce
Steps to reproduce the behavior:
1. Go to an deployable app, logged in with a user who can deploy
2. Click on deploy tab, the app should have at least one valid build
3. Select the built version from the deploy drop down menu (AT21 or AT23)
4. Click to deploy, click again to confirm
5.

[2019-12-12 08:42] acn-sbuad commented on #3020
This is blocked untill we have a valid certificate in SBL.. Now that authentication is enabled in storage no instances are visible in the msg box.

[2019-12-12 09:26] lorang92 opened #3363 "Change from traefik to ngninx for staging and prod"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)

## Description
Traefik does not support cookie-proxy which is a need for studio, therefore nginx should replace traefik for staging and production environment of altinn tudio (dev already implemented).

## Acceptance criteria
- nginx has replaced traefik in altinn.studio and staging.altinn.studio
-

[2019-12-12 09:27] DanRJ opened #3364 "Start deployment button does not wait for response before stopping spinner"
## Describe the bug
The deployment button, when you click deploy, it starts spinning and then stops spinning even though the response has not yet arrived from backend.

## To Reproduce
Steps to reproduce the behavior:
1. Go to an app
2. Open Developer tools in Chrome
3. Try to deploy
4. See that the button is disabled and the spinner is spinning
5. The network call is still [Pending]
6. See that t

[2019-12-12 09:27] #2540 closed

[2019-12-12 09:27] lorang92 commented on #2540
Traefik will be replaced by nginx, see issue #3363. Closing this issue as no longer relevant.

[2019-12-12 10:01] acn-sbuad commented on #3215
@lvbachmann The bug was moved back to our backlog as the test failed. Could you evaluate the need of solving this and when it should be prioritized?

[2019-12-12 10:19] altinnadmin commented on #3336
@jeevananthank If you have write-access to repos in other orgs then they should be listed in dashboard. Can you verify?

Listing _all_ apps for _all_ orgs and users is not sensible or scalable, Ref. PR #3313.
I think this issue can be closed since a redesign of the current dashboard will be done in #3328.

[2019-12-12 10:20] jeevananthank commented on #1922
Test is complete.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/0b1a357c-9c0a-483d-a84f-c4622d379fd2)

[2019-12-12 10:20] #1922 closed

[2019-12-12 10:24] jeevananthank commented on #3336
yes, an user with write access to the repo has all the apps listed in the dashboard.
Closing this based on the above comment.
cc. @matsgm

[2019-12-12 10:24] #3336 closed

[2019-12-12 12:22] jeevananthank commented on #3298
Changed the title to be more relevant

[2019-12-12 13:59] lvbachmann commented on #1378
No issues left :)

[2019-12-12 13:59] #1378 closed

[2019-12-12 14:15] jezpoz commented on #2710
Monitoring needs from the development team is documented:
https://confluence.brreg.no/display/T3KP/Utvikling

Closing this issue.

[2019-12-12 14:15] #2710 closed

[2019-12-12 14:26] jeevananthank commented on #3245
Tested in AT23. The user is rediected only when keepAlive is called which happens only when the mouse is hovered over the browser. One could see this page until the mouse is hovered and keepAlive is called.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/272a44dd-0fd0-4aa4-abd1-8d381383c31b)
@lvbachmann @acn-dgopa any comments ?
cc: @acn-sbuad

[2019-12-12 14:30] jeevananthank commented on #2637
@acn-dgopa  This is tested in AT23 with 19.12 code. I could see the redirect to party selection happening twice.
cc: @acn-sbuad

[2019-12-12 14:50] jeevananthank commented on #3161
Reopening the issue. Getting 500 Internal server error on validate data id (both in at21 and at23).
App: ttd/receipt-test
@acn-sbuad @SandGrainOne

[2019-12-12 15:05] jeevananthank opened #3370 "Instance validation says OK when formData fails with datamodel"
## Describe the bug
Instance validation says OK when formData fails with datamodel.

## To Reproduce
Steps to reproduce the behavior:
1. Login to altinn studio and deploy an app that has validation check at the datamodel
2. Login to SBL and create an instance of the app
3. Fill in fail values that triggers validation from the datamodel (ex., poststed in a postnummer field)
4. Call validate instanc

[2019-12-12 15:05] lvbachmann opened #3371 "Improvement on documentation pre launch of first app"
## Introduction
Some documentation issues originally defined in the MVP have been deemed necessary for the launch of the first app, but not the MVP. This Epic is a placeholder to gather these issues.

[2019-12-12 15:10] lvbachmann commented on #2076
@nkylstad Is this still relevant post #2948?

[2019-12-12 15:14] lvbachmann commented on #2961
Will be solved by #2092 - closing this

[2019-12-12 15:14] #2961 closed

[2019-12-12 15:14] nkylstad commented on #2076
No 😊

[2019-12-12 15:18] lvbachmann commented on #2804
Will be solved in #783 - thus closing this

[2019-12-12 15:18] #2804 closed

[2019-12-12 15:23] lvbachmann commented on #3054
@ootneim This issue is what you discussed with @OddArneSaetervik  earlier today.

[2019-12-12 15:58] lvbachmann commented on #3227
Epic not relevant given that all issues have been moved to other Epics.

[2019-12-12 15:58] #3227 closed

[2019-12-13 07:24] jeevananthank opened #3372 "Wrong url for platform in a PUT data response"
## Describe the bug
Wrong url for platform in a PUT data response. The platform url is having http which results in a 404 when sent as a GET request.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and get cookie information to create an instance
2. Create an new instance for the deployed app.
3. Send a request to edit the formdata by id with a PUT request
[https://{{org}}.apps.{

[2019-12-13 08:25] SandGrainOne opened #3374 "Signing certificate rollover support in OpenIdConnectController"
## Description
The .well-known/openid-configuration endpoint exposes a list of keys, but the current implementation will never return more than one version of the certificate. This means there are currently no real support for certificate rollover when changing the certificate.

https://platform.at21.altinn.cloud/authentication/api/v1/openid/.well-known/openid-configuration/jwks

The certificate u

[2019-12-13 08:28] acn-sbuad opened #3375 "Extend generic PEP to handle authorization based on scope"
## Description
During implementation of PEP in storage, the need for authorizating requests based on scope has been identified. This will be used in the authorizationController, and the decision to make it generic is that we know the need will present itself post MVP to authorize other parts of the solution (not yet implemented using scope)

## Acceptance criteria
- Platform Storage Application co

[2019-12-13 09:18] acn-sbuad opened #3376 "Wrong policy on endpoints in app controllers"
## Describe the bug
InstanceRead and Write are used in the wrong places..

## To Reproduce
Steps to reproduce the behavior:
1. Check code.

## Cause & Resolution
DataController
DELETE and PUT had wrong policy configured. Changed this to instances.Write

## Expected behavior
Correct policies should be used

[2019-12-13 09:28] DanRJ commented on #3288
The issue #3374 is related, without the implementation described in 3374 the key rollover for the validation will not work properly.

[2019-12-13 10:18] jeevananthank commented on #2879
Test is complete. Closing the issue.

[2019-12-13 10:18] #2879 closed

[2019-12-13 11:20] jeevananthank commented on #3360
Update: deploy to AT23 works fine.
deploy to AT21 får 500 with HttpRequestWithStatusException

[2019-12-13 12:19] trymen opened #3381 "Adding a checkbox or radiobutton component manually fails ungracefully"
## Describe the bug
When the user adds a checkbox or a radiobutton to the ui designer, then selects "manuelt" for the method for adding new checkboxes or radiobuttons, altinn studio crashes when text is typed into the checkbox, and a blank page is displayed.

## To Reproduce
Steps to reproduce the behavior:
1. Go to designer, add a checkbox
2. Click add checkboxes "manuelt"
3. Begin entering text

[2019-12-13 13:01] jeevananthank commented on #3253
I dont see this bug anymore. closing the issue.

[2019-12-13 13:01] #3253 closed

[2019-12-13 13:10] lvbachmann commented on #3130
Documented. Closed.

[2019-12-13 13:10] #3130 closed

[2019-12-13 13:10] jeevananthank commented on #3241
Custom validation from validationHandler.js is tested.
App: ttd/receipt-test
Closing the issue.

[2019-12-13 13:10] #3241 closed

[2019-12-13 13:10] lvbachmann commented on #1921
Informasjon om knapp-komponenten lagt til i dokumentasjonen. Den er obligatorisk for at knapp skal vises i tjenesten.

[2019-12-13 13:10] #1921 closed

[2019-12-13 13:24] jeevananthank commented on #3080
Verified. Closing the bug.

[2019-12-13 13:24] #3080 closed

[2019-12-13 14:45] SandGrainOne commented on #2658
The needed functionality described in this issue has changed a bit and the implementation is currently being performed based on #3317. Closing this.

[2019-12-13 14:45] #2658 closed

[2019-12-13 15:18] lvbachmann commented on #2724
Duplicate of several other issues...

[2019-12-13 15:18] #2724 closed

[2019-12-15 17:20] lvbachmann commented on #2076
Closed given comment from @nkylstad

[2019-12-15 17:20] #2076 closed

[2019-12-16 06:53] matsgm commented on #3234
Fixed.

[2019-12-16 06:53] #3234 closed

[2019-12-16 07:10] jeevananthank commented on #3376
@acn-sbuad what has been changed and what is the requirement for test ?

[2019-12-16 07:12] jeevananthank commented on #3245
@lvbachmann can you comment on the behaviour that is seen in appfrontend after a logout?

[2019-12-16 08:46] dskogan commented on #3097
Have added app-insights for storage, authentication, authorization, register, profile. Missing pdf since this is a java app.

[2019-12-16 08:48] dskogan opened #3386 "Add PUT process endpoint to storage and app"
The Process controller in app uses multiple calls to storage: Post for instantiation, so put for update of process model. It is difficult to authenticate.

Tasks:
- [x] Reorganise code to only use one POST message to storage for instantiation.
- [x] Add process endpoint in storage to only update process and update app accordingly

[2019-12-16 09:03] lorang92 commented on #3363
This issue is "blocked" until we do our next deploy to prod

[2019-12-16 09:20] jeevananthank commented on #3372
This is fixed and verified. closing the issue.

[2019-12-16 09:20] #3372 closed

[2019-12-16 09:32] jeevananthank opened #3387 "PUT move to next process does not move the process"
## Describe the bug
PUT move to next process does not move the process. The user gets current process as response and every PUT process/next call create a dataId of type ref-data-as-pdf.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy an app and login to SBL to get the cookies for the user to use in API
2. POST create instance and upload formdata for the instance
3. Validate the instan

[2019-12-16 09:57] dskogan commented on #3387
Logg info from app.
System.NullReferenceException: Object reference not set to an instance of an object.
   at Altinn.App.Services.Implementation.PDFSI.GenerateAndStoreReceiptPDF(Instance instance)
   at Altinn.App.Services.Implementation.AppBase.OnEndProcess(String taskId, Instance instance)
   at Altinn.App.Api.Controllers.ProcessController.NotifyAppAboutEvents(IAltinnApp altinnApp, Instance ins

[2019-12-16 10:14] jeevananthank opened #3388 "Error in console on apps with connected rules"
## Describe the bug
Error in console on apps with connected rules, which results an user NOT possible to add new ui elements, delete ui elements, change the read-only/valgfri settings, not possible to delete the connected rules.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and create a new app and upload datamode
2. Add ui elements, link to datamodel and connect the

[2019-12-16 10:15] matsgm opened #3389 "Deployment of Altinn Apps in Altinn Studio shall trigger different pipelines based on AT, TT and Prod."
## Description
Today there is only one pipeline to deploy to all environments.
We need to have one pipeline per environment type AT, TT and Prod.

This issue needs to create some logic in the Altinn Studio deployment API to start different build pipelines based on the environment type.

## Considerations
- The environment JSON object is sent from the frontend when deployment is started.

## Accept

[2019-12-16 10:52] altinnadmin commented on #3097
https://github.com/microsoft/ApplicationInsights-Java

[2019-12-16 11:23] jeevananthank commented on #3298
@acn-sbuad any update on this bug ? its kind of blocking some of my testing.

[2019-12-16 12:49] jeevananthank commented on #3112
@SandGrainOne can you check if the change is available in AT23 ? am seeing the same issue in AT23 now.

[2019-12-16 13:21] jeevananthank commented on #3112
just ignore my comments. The filters in the GET instances has been changed once again.
It works fine with: /storage/api/v1/instances?instanceOwner.partyId={{instanceOwnerId}}

[2019-12-16 13:21] #3112 closed

[2019-12-16 13:56] altinnadmin commented on #3097
@OddArneSaetervik FYI

[2019-12-16 14:08] acn-sbuad commented on #3298
As we have enabled authenticaiton in storage I don't believe you should be seeing any instances in the message box as the certificate used to create the access token in SBL is incorrect. could you confirm? @jeevananthank

[2019-12-16 14:13] jeevananthank opened #3396 "Possible to retrieve instance by id without permitted roles."
## Describe the bug
It is possible for an user to access an app instance by id without permitted roles.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Studio and deploy an app with PEP enabled and policy says users with DAGL/REGNA can read/write instances,
2. Login to SBL and create an instance of the deployed app. (Note down instance id)
3. Navigate to Profile and delegate roles to

[2019-12-16 14:18] acn-sbuad commented on #3376
@jeevananthank specified the bug a bit more. It will be enough to check that delete and put is authorized correctly when instanceWrite permission is changed.

[2019-12-16 14:20] acn-sbuad commented on #3375
@jeevananthank authorization based on maskinporten scope has been set in Platform Storage ApplicationsController POST/PUT/DELETE endpoints so these should be tested.

[2019-12-16 14:44] jeevananthank opened #3397 "Wrong count in the response of GET all instances by instanceOwnerId"
## Describe the bug
The parameter: Count in the response of the GET instances by instanceOwnerId against the storage has the number of the instance the InstanceOwner has and NOT the number of instances actually it could retrieved after the filter done by the authorization.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy an app1 from studio with PEP enabled and policy saying users with

[2019-12-16 14:45] jeevananthank commented on #3298
yes, not instance is visible in the messagebox (tested in AT23).

[2019-12-16 15:00] jeevananthank commented on #2896
test is complete. closing the issue.

[2019-12-16 15:00] #2896 closed

[2019-12-16 18:50] jeevananthank commented on #3387
now i get a 500 Internal server error as response.

Altinn.App.Services.Implementation.PlatformClientException: 400 - Bad Request - {"errors":{"":["Unexpected character encountered while parsing value: A. Path '', line 0, position 0."]},"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-7eef60ee7f966346b918f70b445

[2019-12-16 19:04] #2948 closed

[2019-12-16 19:04] jeevananthank commented on #2948
Test is complete. closing the issue.

[2019-12-17 07:46] jeevananthank commented on #3360
all deployments goes fine now. closing the issue.

[2019-12-17 07:46] #3360 closed

[2019-12-17 07:59] jeevananthank commented on #3376
verified PUT/DELETE Data by id with an user having no access to the instance. The response is 403 Forbidden. closing the bug.

[2019-12-17 07:59] #3376 closed

[2019-12-17 09:24] lvbachmann commented on #3245
@jeevananthank This behaviour is certainly not ideal, but not critical to fix for MVP.

[2019-12-17 09:29] lvbachmann commented on #3215
@jeevananthank Does this bug still prevent instantiating an app, or is the consequence back at zero?

[2019-12-17 10:12] jeevananthank commented on #3245
moved this back to backlog

[2019-12-17 10:18] jeevananthank commented on #3215
it is not preventing the instantiation, i close this.

[2019-12-17 10:18] #3215 closed

[2019-12-17 11:40] jeevananthank commented on #3396
Verified. Closing the issue.

[2019-12-17 11:40] #3396 closed

[2019-12-17 12:22] jeevananthank opened #3402 "PUT next/completeProcess gives 500 InternalserverError for users without permitted roles"
## Describe the bug
PUT next/completeProcess gives 500 InternalserverError for users without permitted roles.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Studio and deploy an app with PEP enabled and policy says users with DAGL/REGNA can read/write instances,
2. Login to SBL and create an instance of the deployed app. (Note down instance id)
3. Navigate to Profile and delegate ro

[2019-12-17 12:25] lvbachmann commented on #3381
Not a general error - thus postponed.

[2019-12-17 13:20] jeevananthank commented on #3317
Tested InstantiationHandler.cs
The app frontend is not re-rendered when a calculation is trigged when clicking 'Lagre'

[2019-12-17 14:31] jeevananthank opened #3406 "Not possible to create or access an app instance"
## Describe the bug
Not possible to start a new app instance. POST instance gives 500 as response code.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start an instance of any deployed app
2. See in networks for the POST instance call
Response code: 500 Internal server error
Response Body: "Failure in multipart prefil. Could not create an instance of ttd/process-app for part

[2019-12-17 14:32] altinnadmin commented on #3244
Tested ok in dev.altinn.studio
![image](https://user-images.githubusercontent.com/6088624/71004597-648ecf80-20e2-11ea-8af5-722b7b85c7e5.png)

[2019-12-17 14:32] #3244 closed

[2019-12-17 14:33] lvbachmann commented on #1784
@nkylstad Re Slack - you're probably solving this issue

[2019-12-17 14:39] nkylstad commented on #3343
TryValidateObject method does not validate recursively. When we switched to this method, model validation stopped working, as only the top-level object was validated.
Switched back to implementation from TryValidateModel that is used by controllers, as this works recursively.

[2019-12-17 14:55] jeevananthank opened #3409 "Wrong links in the page displayed when user is missing roles for the app"
## Describe the bug
The links that an user can click on the error page displayed (when user lacks roles for an app) does not have right links.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start an app that only an DAGL can instantiate
2. The response code for POST instance is 403 and user is presented with an error page.
3. The links in the header redirects user to altinn.

[2019-12-17 15:15] altinnadmin commented on #1267
Tested ok in dev.altinn.studio.

[2019-12-17 15:15] #1267 closed

[2019-12-17 15:16] altinnadmin commented on #1072
Seems to be fixed.

[2019-12-17 15:16] #1072 closed

[2019-12-17 15:28] lvbachmann commented on #2719
@dskogan We suspect that this is fixed (but status not updated). Correct?

[2019-12-17 15:30] lvbachmann commented on #3070
@alt-how If you explain how I can test this, I'm ready to test tomorrow.

[2019-12-18 04:30] altinnadmin commented on #860
Dashboard has gotten good enough for now after various fixes. Closes this so we can focus on #3328.

[2019-12-18 04:30] #860 closed

[2019-12-18 04:34] altinnadmin commented on #817
Issues fixed. Remaining contrast issue for links needs to be handled in #3328.

[2019-12-18 04:34] #817 closed

[2019-12-18 07:21] lvbachmann commented on #3070
Closed after sufficient demonstration

[2019-12-18 07:21] #3070 closed

[2019-12-18 07:23] lvbachmann opened #3410 "Serilog to App Insights"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)
## Description
To increase the value of our app insights, we should integrate serilog data into the reports, not only look at data in and out of the components.

## Acceptance criteria
- What is allowed/not allowed (negative tesing)
- Validations
- Error messages and warnings
- ...

## Tasks in groom

[2019-12-18 07:25] lvbachmann commented on #3097
Closing this after demonstration. Follow up in #2892 and #3410

[2019-12-18 07:25] #3097 closed

[2019-12-18 08:06] jeevananthank commented on #3406
verified. App: ttd/process-app.
Closing the issue.

[2019-12-18 08:06] #3406 closed

[2019-12-18 08:08] jeevananthank commented on #3387
Verified. PUT process/next moves the process to next step.

[2019-12-18 08:08] #3387 closed

[2019-12-18 08:13] jeevananthank opened #3411 "Instance status is null eventhough the process is complete"
## Describe the bug
Instance status is null eventhough the process is complete.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and get the cookies to be used for API (.ASPXauth, AltinnStudioRuntime, AltinnPartyId)
2. Send a POST request to create an instance -> Upload the formdata using PUT Data
3. validate instance and send a PUT request to complete the process
[https://{{org}}

[2019-12-18 08:19] jeevananthank commented on #3341
@acn-sbuad now i get 500 Internal server error as response.
logs:
An unhandled exception was thrown by the application.
Altinn.App.Services.Implementation.PlatformClientException: 403 - Forbidden -
   at Altinn.App.Services.Implementation.InstanceAppSI.GetInstance(String app, String org, Int32 instanceOwnerId, Guid instanceGuid)
   at Altinn.App.Api.Controllers.ProcessController.NextElement(String

[2019-12-18 08:21] jeevananthank commented on #3341
related to #3402 which is not priotized for MVP.
Closing this as the original issue (possible to completeProcess without roles) is fixed.

[2019-12-18 08:21] #3341 closed

[2019-12-18 08:53] jeevananthank commented on #3343
verified. not possible to send inn instance with wrong formdata

[2019-12-18 08:53] #3343 closed

[2019-12-18 08:56] jeevananthank commented on #3370
verified. the response lists the list of error in formdata.
Closing the issue.

[2019-12-18 08:56] #3370 closed

[2019-12-18 09:36] jeevananthank commented on #3317
verified. app frontend is re-rendered with the updated values after calculation.

[2019-12-18 09:36] #3317 closed

[2019-12-18 10:07] jeevananthank commented on #1562
Test is complete. Registered a bug #3409.
And could see that there are many tasks that are unchecked in this issue.
Issue can be closed once all the tasks are completed and checked.
@nkylstad

[2019-12-18 10:17] jeevananthank commented on #2646
test is complete.

[2019-12-18 10:17] #2646 closed

[2019-12-18 13:16] matsgm opened #3418 "Update Service Principal tokens for Service Connections"
## Description
Update Service Principal tokens for Service Connections directly in Azure DevOps, not storing tokens temporary in any format.

The related Service Connections are the ones used for the pipelines.

Related to #2899

## Acceptance criteria
- All "AzDevOps" Service Principals have new tokens generated, and the old is deleted.

## Tasks in grooming/preparation
- [ ] Verify that this iss

[2019-12-19 07:37] TheTechArch commented on #73
Not relevent with new app template.

[2019-12-19 07:37] #73 closed

[2019-12-19 07:42] TheTechArch commented on #117
With the new template this can be implemented with adding different utils in nuget packages.

[2019-12-19 07:42] #117 closed

[2019-12-19 07:44] TheTechArch commented on #123
Decision is not to support this for now. Obligation is added on policy level, not on task.
See [xacml documentation](https://docs.altinn.studio/teknologi/altinnstudio/architecture/security/authorization/altinn-apps/app/xacmlpolicy/) on studio docs.

[2019-12-19 07:44] #123 closed

[2019-12-19 07:47] TheTechArch commented on #158
With the new template calculation is handled in editor locally.
We will create new issue if need for functionality in Altinn Studio occurs.

[2019-12-19 07:47] #158 closed

[2019-12-19 07:48] TheTechArch commented on #126
Christians modifies the BMPN file directly in repository.

[2019-12-19 07:48] #126 closed

[2019-12-19 07:49] TheTechArch commented on #157
This is editied in code editor like Visual Studio Code

[2019-12-19 07:49] #157 closed

[2019-12-19 07:51] dskogan commented on #2719
This is done for dataElement, but not for process state.  I have created a new process method in storage that must be used to update process information of an instance. But it is not refactored in cosmos.

So it's only 3/4 solved.

[2019-12-19 07:56] TheTechArch commented on #169
We will open a new issue when we know what user wants. Currently this is editited throug the XACML in the repository.

[2019-12-19 07:56] #169 closed

[2019-12-19 08:14] TheTechArch commented on #304
This can be added to apps like nuget packages with the new structure

[2019-12-19 08:14] #304 closed

[2019-12-19 08:16] TheTechArch commented on #266
For now and the foreseeable future this will be done in Code editor

[2019-12-19 08:16] #266 closed

[2019-12-19 08:16] nkylstad opened #3420 "Error message on party selection page - undefined"
## Describe the bug
On the party selection page, when the user represents a party that cannot start a new instance of an app due to wrong party type. The error message should display what kind of party can start the app, but displays `undefined` instead.

## To Reproduce
Steps to reproduce the behavior:
Prerequisites: The logged in user must be able to represent multiple partys of at least 2 diffe

[2019-12-19 08:18] TheTechArch commented on #277
With new template this can be handled with nuget packages with reusable code.

[2019-12-19 08:18] #277 closed

[2019-12-19 08:19] TheTechArch commented on #162
This is handled by code editor for the foreseeable future

[2019-12-19 08:19] #162 closed

[2019-12-19 08:31] lvbachmann commented on #333
Solved with the new design for deployment

[2019-12-19 08:31] #333 closed

[2019-12-19 09:01] jeevananthank opened #3421 "NullReferenceException on GET SBL instances by instanceOwnerId"
## Describe the bug
NullReferenceException on GET SBL instances by instanceOwnerId.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and get cookies to use in API calls
2. Send a request to Storage
[https://platform.{{envUrl}}/storage/api/v1/sbl/instances/{{instanceOwnerId}}?state=active&language=nb](url)
3. The response is a nullreferenceexception

   at Altinn.Platform.Storage.H

[2019-12-19 09:02] jeevananthank commented on #2682
not reproducable anymore. closing the issue.

[2019-12-19 09:02] #2682 closed

[2019-12-19 09:07] TheTechArch commented on #633
Not relevant anymore. The app need to be deployed to test. Can be tested with all type of devices.

[2019-12-19 09:07] #633 closed

[2019-12-19 09:11] TheTechArch commented on #412
Closes this. Razor views are temporary.  In 2021-2022 this should have been replaced with REACT

[2019-12-19 09:11] #412 closed

[2019-12-19 09:45] lorang92 opened #3426 "ES lint should work when opening up root project folder"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)
## Description
Currently eslint only works when opening up the react-apps folder, this should also work when opening the project root folder.

## Acceptance criteria
- ESLint works when opening up root project folder

## Tasks in grooming/preparation
- [x] Verify that this issue meets [DoP](https://c

[2019-12-19 10:40] TheTechArch commented on #417
This is solved in code editior and gitea.

[2019-12-19 10:40] #417 closed

[2019-12-19 10:54] TheTechArch commented on #254
This info is available in the history in Gitea

[2019-12-19 10:54] #254 closed

[2019-12-19 12:24] TheTechArch commented on #260
Conclusion. Pods need to talk to eachother through internet. In the future service mesh can be a solution for internal trafic in a cluster but this is not allowed for now.

[2019-12-19 12:24] #260 closed

[2019-12-19 12:26] TheTechArch commented on #409
This is avaiable in gitea repository

[2019-12-19 12:26] #409 closed

[2019-12-19 12:29] TheTechArch commented on #415
not relevant anymore because of new app structure

[2019-12-19 12:29] #415 closed

[2019-12-19 12:29] TheTechArch commented on #160
This is done in code editor

[2019-12-19 12:29] #160 closed

[2019-12-19 12:31] TheTechArch commented on #403
With the new structure they can store it in wwwroot.

[2019-12-19 12:31] #403 closed

[2019-12-19 12:38] TheTechArch commented on #732
This is not relevant anymore with the new template.
Service can be mocked for integration tests in the app itself.

[2019-12-19 12:38] #732 closed

[2019-12-19 12:39] TheTechArch commented on #729
With the new template structure it is possible to have unit tests for calculation and validations. This is exemplified in the project.

[2019-12-19 12:39] #729 closed

[2019-12-19 12:44] TheTechArch commented on #882
This is not longer relevant with the new app structure

[2019-12-19 12:44] #882 closed

[2019-12-19 12:46] matsgm commented on #2899
Service connections for all used pipelines is created.
All pipelines with connections to Azure resources is fixed.
Service Connections to Altinn Studio repo is created, but not all pipelines are fixed (all pipelines need to be reconfigured. The plan is to reconfigure when the pipeline is modified)

[2019-12-19 12:46] #2899 closed

[2019-12-19 12:46] jeevananthank commented on #3386
Tested the new endpoint for PUT process in storage. closing the issue.

[2019-12-19 12:46] #3386 closed

[2019-12-19 13:22] alt-how opened #3429 "TFS 38632"
See TFS for more information https://tfs.ai-dev.brreg.no/Altinn/Altinn/_workitems/edit/38632

[2019-12-19 14:10] nkylstad commented on #1784
Documentation for app logic (including calculation) has been updated.

@RogerKjaernsrod Calculations (defined in CalculationHandler.cs) are done server-side, and are currently triggered by the user saving data. They are not triggered automatically when the user leaves  a field. However, it is possible to trigger immediate calculations (client-side), by using the _Dynamics_ setup, also described on

[2019-12-19 14:31] dskogan opened #3434 "Implement support for application owner messages to instance owner"
App owner wants to notify instance owner about something. Provide a mechanism for notifying (application owner) and uploading message (data element) to the instance. Spawned from #1933.

# Tasks
- [ ] instance attributes: Application owner status (messages),

[2019-12-19 14:37] dskogan opened #3435 "Provide app specific application events so that app owner can react on important events"
Provide aggregation of event for the applications/ endpoint so that app owner can register which events she wants to get from app. Hence allow app owner to filter important events for a given instance. Spawned from #1933.

# Tasks:
- [ ] provide application events based on changes to instances

[2019-12-19 14:38] matsgm opened #3436 "Create alpine-openssl image"
## Description
alpine-openssl docker image is used by Traefik for generating certificates.
The Dockerfile for alpine-openssl is in the ops repo under /deploy/*openssl*
This docker image should be generated and published in a public docker repo.
The current image is hosted in docker hub in @matsgm ´s account.

## Acceptance criteria
- What is allowed/not allowed (negative tesing)
- Validations
- Er

[2019-12-19 14:42] matsgm opened #3437 "Remove all personal service connections in Azure Devops"
## Description
#2899 created Service Principal service connections. Most pipelines are configured.
The "old" personal service connections should be removed, and all failing pipelines should be fixed.

The personal service connections will fail when old users are removed from Azure DevOps.

## Considerations
Consider doing this before production to uncover failing pipelines.

## Acceptance criteria

[2019-12-19 14:44] dskogan opened #3439 "Application insights on Pdf Platform componenet"
Application insights has been turned on for the other platform applications. But not for the Pdf app, which is a Java app.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started

# Tasks

 - [ ] add application insights
 - [ ] make sure logs also are sent to application insights

[2019-12-20 08:13] lorang92 commented on #3356
@jeevananthank this is now fixed and can be retested :)

[2019-12-20 08:40] #2395 closed

[2019-12-20 09:21] dskogan commented on #1933
# Tests
- Attempt to put a data element which is locked should result in Conflict
 - When an org does GET /instances/{instanceOwnerPartyId}/{InstanceGuid}/data/{dataGuid} the corresponding data element should get a timestamp in its appOwner.downloaded array.
 - When an org does PUT /instances/{instanceOwnerPartyId}/{InstanceGuid}/data/{dataGuid}/confirmDownload the corresponding data element shoul

[2019-12-20 10:05] nkylstad commented on #2637
The issue now was caused by a problem in the deploy pipeline that did not replace the environment variables as needed to update the AltinnPartyId cookie. This caused the front-end to fetch the wrong party as `selected` because the cookie was not updated.
@acn-sbuad has updated the deploy pipeline for AT23 to fix this.

@jeevananthank can be retested in AT23, re-build and deploy app first.

[2019-12-20 10:05] lorang92 opened #3444 "Altinn.Platform.Receipt causes a redirect loop"
## Describe the bug
Altinn Platform receipt have authentication set up, but with an outdated version which uses a self-signed cert. When a user does a request to receipt, receipt tries to validate with the old cert. This fails, and receipt redirects to Auth. Auth uses the correct cert from our well-known endpoint which shows that the token is valid and redirects back to receipt, and so it goes on

[2019-12-20 11:44] nkylstad commented on #2386
@lvbachmann This should be possible now using the `InstantiationValidation`-event - do you agree @TheTechArch?
Displaying specific error messages from backend is not yet supported.

[2019-12-20 12:43] lvbachmann commented on #3439
@lorang92 Does this solve #2892 as well?

[2019-12-20 13:04] lvbachmann commented on #2035
Debugging can be easily done in local dev tool. Debugging in Altinn Studio is an unlikely scenario for now. Closing.

[2019-12-20 13:04] #2035 closed

[2019-12-20 14:15] jeevananthank commented on #2637
The user is taken to app frontend once the allowed party is selected. but i see other issues which will be registered as separate bugs.

[2019-12-20 14:15] #2637 closed

[2019-12-21 07:14] TheTechArch commented on #2386
@nkylstad @lvbachmann yes i agree. This should be supported through this event

[2019-12-23 07:44] lorang92 commented on #3439
@lvbachmann yeah, closing this as a duplicate :)

[2019-12-23 07:44] #3439 closed

[2019-12-27 09:53] jeevananthank opened #3450 "autoCreate is set to null on a default dataType"
## Describe the bug
autoCreate is set to null on a default dataType.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and create a new app.
2. Navigate to the repos of the app and check the applicationmetadata.json
3. autoCreate is null on the dataType: default and when the app is deployed to a test environment, and the app instantiation does not render the app frontend.

[2019-12-27 10:11] jeevananthank opened #3451 "POST instance with autoCreate set to true gets 500 as response code"
## Describe the bug
POST instance with autoCreate set to true does not an instance.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and create a new app and make sure the autoCreate for default dataType is set to true and is deployed to a test env.
2. Login to a test env and start the instance of the app.
3. POST instance gets 500 as response code and response body has

[2019-12-30 09:52] nkylstad commented on #3450
`autoCreate` is set to `null` by default until the data model is uploaded - then `autoCreate` is set to `true`. This is as designed.

If data type is `default` after data model upload (and not the name of the uploaded data model), most likely local changes have not been pushed to the app repo. Build and deploy pipelines use the app repo `master` branch. Any changes made in Altinn Studio are made o

[2019-12-30 10:02] jeevananthank commented on #3450
tested with creation of new app. It works fine.

[2019-12-30 10:02] #3450 closed

[2019-12-30 10:47] jeevananthank commented on #3451
This is not seen with new apps, but could issues with archiving an instance.

[2019-12-30 10:47] #3451 closed

[2019-12-30 13:12] jeevananthank opened #3452 "PUT CompleteProcess or Next gives 403 as response code and completes the process."
## Describe the bug
The response code of PUT completeProcess/next gives 403 Forbidden, yet the process of the instance is complete.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start an instance of any newly deployed app
2. Fill in and submit the form
3. See that the PUT completeProcess calls gets 403 as response code
4. When checked for the instance, the process is alread

[2020-01-02 08:33] lvbachmann commented on #1880
First version done. Continued development handled in new issues.

[2020-01-02 08:33] #1880 closed

[2020-01-02 08:43] nkylstad opened #3453 "Client-side validation - Required validation runs on hidden fields"
## Describe the bug
When submitting a form with hidden fields that are _required_ in the data model (or in formLayout), validation fails.

## To Reproduce
Steps to reproduce the behavior:
1. Go to a service with data model that has required fields, and that has dynamics to hide some of the required fields.
2. Enter values into any _visible_ required fields and submit/send in
3. See that you get th

[2020-01-02 09:04] lvbachmann commented on #3239
@nkylstad Assigning this to you, as you're already working on this.

[2020-01-02 10:08] jeevananthank commented on #3452
tested OK. closing the issue.

[2020-01-02 10:08] #3452 closed

[2020-01-02 10:15] acn-sbuad commented on #3421
@jeevananthank I am not able to reproduce this.. Could you confirm?

[2020-01-02 10:33] lvbachmann commented on #3239
Thinking of it, this is now a duplicate of #2741. Thus closed.

[2020-01-02 10:33] #3239 closed

[2020-01-02 10:35] jeevananthank opened #3455 "GET Instance by id without authentication gives 500 as response Code"
## Describe the bug
GET Instance by id without authentication gives 500 as response Code.

## To Reproduce
Steps to reproduce the behavior:
1. Send a GET request to Storage to get a specific instance detail without any cookie for authenticating the request.
GET /storage/api/v1/instances/50012356/dbbfe883-391d-4d13-ab15-9412f3870336 HTTP/1.1
Host: platform.at23.altinn.cloud
3. The response code is

[2020-01-02 10:38] jeevananthank commented on #3421
@acn-sbuad the issues is not seen anymore in AT23. I will close this bug.

[2020-01-02 10:38] #3421 closed

[2020-01-02 10:53] nkylstad opened #3456 "Hidden component - empty div element displayed"
## Describe the bug
An empty div element is displayed for hidden compoents. This element has a small height. When there are multiple hidden elements, there is an obvious gap between visible elements.

## To Reproduce
Steps to reproduce the behavior:
1. Create a new instance of the `endring-av-navn-v2` app in AT23 (or go to an exsisting one)
2. Fill out new name, checkbox, and select a reason
3. Se

[2020-01-02 11:07] lvbachmann commented on #3456
This looks a lot like #2915, which we were able to close...

[2020-01-02 11:12] lvbachmann commented on #2078
@nkylstad Could you please check if this issue is still relevant given the latest changes?

[2020-01-02 11:15] lvbachmann commented on #2033
Described in the documentation: https://altinn.github.io/docs/altinn-studio/app-creation/navigation/#code

[2020-01-02 11:15] #2033 closed

[2020-01-02 11:16] lvbachmann commented on #2149
Described in documentation: https://altinn.github.io/docs/altinn-studio/testing/deploy/

[2020-01-02 11:16] #2149 closed

[2020-01-02 11:22] jeevananthank commented on #3455
@acn-sbuad i see this issue with other requests with Data, Events, softdelete an instance, undo deletion, get instance by id (SBL)

[2020-01-02 11:22] lvbachmann commented on #3289
Closing after @alt-how has done a sufficient analysis to make sure we're not logging tokens. Some monitoring will be done to make sure we don't do this in the future either.

[2020-01-02 11:22] #3289 closed

[2020-01-02 11:23] nkylstad commented on #3456
I don't see any pull requests linked to #2915. Not sure how this was supposed to have been fixed, but it's clearly still a problem - hidden components should not be rendered at all (even if it's just an empty div)

[2020-01-02 11:40] jeevananthank commented on #1980
irrelevant bug. Test tab is removed from Studio.

[2020-01-02 11:40] #1980 closed

[2020-01-02 12:02] acn-sbuad commented on #3455
I think the fix with cover all the cases you mention above :)

[2020-01-02 12:05] lvbachmann commented on #3456
@nkylstad Agreed. And as long as it's still a problem, it has to be fixed. Didn't check to see if #2915 had a PR connected to it (●'◡'●)

[2020-01-02 12:16] jeevananthank commented on #3444
user can access receipt page. closing the bug.

[2020-01-02 12:16] #3444 closed

[2020-01-02 12:17] jeevananthank commented on #3356
verified.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/ed727ac0-5a11-4653-9d99-b2ff5fff1600)

[2020-01-02 12:17] #3356 closed

[2020-01-02 12:37] jeevananthank commented on #3455
verified the fix. closing the issue.

[2020-01-02 12:37] #3455 closed

[2020-01-02 12:37] #2547 closed

[2020-01-02 12:37] jeevananthank commented on #2547
closing the issue. test is complete and the dependent tasks will be tested individually.

[2020-01-02 12:53] nkylstad commented on #2741
@lvbachmann Reference app is now available with new app structure in dev.altinn.studio, repo name is `endring-av-navn-v2`. Deployed to AT23.

[2020-01-02 13:02] jeevananthank commented on #1251
PEP is verified in storage. closing the issue.

[2020-01-02 13:02] #1251 closed

[2020-01-02 13:17] jeevananthank commented on #3090
verified. Avsender: in the receipt page has the instanceOwner name and id (NOT the logged in user)

[2020-01-02 13:17] #3090 closed

[2020-01-02 13:19] acn-sbuad commented on #2423
avventer oppdatering av dns for tt02 før videre testing

[2020-01-02 14:18] jeevananthank commented on #3409
verified. closing the issue.

[2020-01-02 14:18] #3409 closed

[2020-01-03 08:20] jeevananthank commented on #1562
test is complete. i still see there are unmarked tasks that blocks closing of the issue.
@nkylstad can you confirm if these are done ? if so can you check these boxes ?
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/fe22faa7-61f3-4e1e-917f-a913c5b6bace)

[2020-01-03 08:52] lvbachmann commented on #2087
Merges done. Bugs will be handled as new issues if the occur.

[2020-01-03 08:52] #2087 closed

[2020-01-03 09:26] lvbachmann commented on #2712
Duplicate of #1629

[2020-01-03 09:26] #2712 closed

[2020-01-03 09:54] lvbachmann commented on #1040
Monitoring for MVP solved through other issues.

[2020-01-03 09:54] #1040 closed

[2020-01-03 09:59] nkylstad opened #3462 "As an end user, I want information on why I am unauthorized to start an instance"
## Description
As an end user, I want feedback explaining why I am unauthorized to start an instance, so that I can make required changes and/or know who to ask for help.

Currently, we have a generic 403-Forbidden error page. This page is shown if a call results in 403-Forbidden response when trying to start an instance or access an instance. There is no information about what exactly caused the

[2020-01-03 10:51] lvbachmann commented on #3236
Last need will be solved as part of #2545

[2020-01-03 10:51] #3236 closed

[2020-01-03 11:22] lvbachmann opened #3463 "Form filling interface not reloaded when trying to send in with error"
## Describe the bug
See screenshot and steps to reproduce...

## To Reproduce
Steps to reproduce the behavior:
1. Go to a valid app in apps (i.e. https://ttd.apps.at23.altinn.cloud/ttd/endring-av-navn-v2), and fill in data including some data that are invalid according to rules for a field.
2. Click on Send in button
3. See error (screenshot) - interface to correct the error is missing

## Expecte

[2020-01-03 12:33] lvbachmann commented on #3410
According to David (on the day before leaving the project) this should be in place. Someone has to verify and close.

[2020-01-03 12:37] lvbachmann commented on #2412
@altinnadmin Isn't this resolved from the latest documentation updates?

[2020-01-03 12:52] #3099 closed

[2020-01-03 12:52] lvbachmann commented on #3099
Closed in TFS - closing here.

[2020-01-03 13:03] Febakke commented on #1562
There are some deviations from the sketches. Is the font supposed to be roboto? And the error message is not center aligned.

The text and functionality seems to work fine, should I create a different issue for minor fixes on this issue? @lvbachmann

[2020-01-03 13:23] jeevananthank opened #3465 "Editing a locked data id gives 500 as response code"
## Describe the bug
Editing a locked data id gives 500 as response code.

## To Reproduce
Steps to reproduce the behavior:
1. Find an isntance that has a locked data id (locked: true)
2. Send a PUT request to edit the instance data id
PUT /ttd/testofapp/instances/50012356/d724bbd0-7fee-4b2d-8f2a-83b53f805de1/data/9dab632e-f05d-41e0-b421-66fe0e1d0a2c HTTP/1.1
Host: ttd.apps.at23.altinn.cloud
3. The

[2020-01-03 13:37] jeevananthank commented on #3410
@lvbachmann any idea on who can verify this ? can you please assign this task to the identified ?

[2020-01-03 14:11] jeevananthank commented on #3453
verified. closing the issue.

[2020-01-03 14:11] #3453 closed

[2020-01-06 07:27] lvbachmann commented on #1562
@Febakke The font hasn't been updated yet, and this will be solved in a separate issue. Your other findings should be created as new issues, please.

[2020-01-06 07:28] lvbachmann commented on #1562
All boxes checked. Thus we are able to close this.

[2020-01-06 07:28] #1562 closed

[2020-01-06 07:33] jeevananthank commented on #3411
verified in AT23. closing the issue.

[2020-01-06 07:33] #3411 closed

[2020-01-06 07:34] lvbachmann commented on #1784
Documentation updated. Closed.

[2020-01-06 07:34] #1784 closed

[2020-01-06 08:54] nkylstad opened #3466 "Restructure react apps"
## Description
The current file/folder structure of the react apps is based on the old structure where studio components (dashboard, service-dev, ux-editor) and app components (app-frontend, receipt) needed to work together within Altinn Studio. Since these are now separate, we should also separate them logically in the folder structure.

## Considerations
Some components might be shared between S

[2020-01-06 09:22] jeevananthank commented on #3397
this bug seems to be invalid now, since the request URL has been added with authentication such that only an Org can access the endpoint and policy of an app is NOT used to filter the results, meaning if an Org sends a request, the response contains all the instances that an Org has.

@lvbachmann can you assess the need for filtering of instances based on the policy.xml ?

[2020-01-06 09:26] nkylstad opened #3468 "Extract form components to component library"
## Description
Form components are a part of the app-frontend application. These should be moved out to a separate component library that is imported by the app-frontend. This will enable easy sharing/import of any form components f.ex. to Altinn Studio if this is needed at a later stage. It will also make setting up a design system and/or documentation of form components much easier in the future

[2020-01-06 09:28] jeevananthank commented on #3388
verified. closing the issue.

[2020-01-06 09:28] #3388 closed

[2020-01-06 10:09] lvbachmann commented on #3397
@TheTechArch My instinct says that this issue is no longer relevant for MVP, but will be relevant once we allow multiple app owners to access the data from a "shared" app. Agree? If so, this issue should be closed, since keeping a bug alive until we tackle that functionality doesn't make sense.

[2020-01-06 10:48] acn-sbuad commented on #3402
@jeevananthank I'm not able to reproduce this bug.. could you confirm?

[2020-01-06 11:15] jeevananthank commented on #3375
test is complete. closing the issue.

[2020-01-06 11:15] #3375 closed

[2020-01-06 11:42] jeevananthank commented on #3402
i still get 500 internal server error as response. @acn-sbuad

[2020-01-06 11:49] jeevananthank commented on #3079
this cannot be tested in AT env and can only be tested in TT02.
@SandGrainOne do you suggest to close this or should we wait until TT02 is ready for test ?

[2020-01-06 12:58] lvbachmann opened #3470 "Possible to submit data with validation errors"
## Describe the bug
When trying to submit data that fails a validation check, I am still able to submit (but I get an error message that it's not possible on the page confirming that I have submitted)

## To Reproduce
Steps to reproduce the behavior:
1. Go to a valid app (i.e. https://ttd.apps.at23.altinn.cloud/ttd/endring-av-navn-v2/)
2. Fill out data including some with a validation error.
3. Cl

[2020-01-06 13:11] acn-sbuad commented on #2719
@TheTechArch @eimik please take a look at the considerations documented above and advice if we should proceed with this bug or not. @lvbachmann

[2020-01-06 13:30] acn-sbuad commented on #2471
@lvbachmann this could probably be closed. Not as many duplicate models now as previously.

[2020-01-06 14:13] SandGrainOne commented on #2719
This is related to what @hhegtun and I talked about today.

We should ensure we are using Optimistic Concurrency Control correctly and with that I think we should be covered. No need to move Process to a separate collection.

[2020-01-06 14:32] acn-sbuad commented on #2719
Closing this issue based on @SandGrainOne's comment above.

[2020-01-06 14:32] #2719 closed

[2020-01-06 14:39] jeevananthank commented on #3470
duplicate of #3343 and seems the fix has been broken.

[2020-01-06 15:35] lvbachmann commented on #2741
@nkylstad All text strings were missing, but I've added those. Seems to be some error related to the string length validation for some fields though - example "Kommune gårdsbruket ligger i" and "Fødselsnummer på samboer". This is probably not a generic error, since I've managed to make sting length validation work in another app ("lvtest").

[2020-01-06 17:28] lvbachmann commented on #2471
No longer relevant, as per comment from @acn-sbuad above

[2020-01-07 07:19] lvbachmann opened #3473 "Problem with authentication cookie in Sharepoint portal"
See [TFS bug 38742](https://tfs.ai-dev.brreg.no/Altinn/Altinn/_workitems/edit/38742) originally submitted by Skatteetaten.

[2020-01-07 07:29] jeevananthank commented on #3402
moved this back to development @acn-sbuad.

Altinn.App.PlatformServices.Helpers.PlatformHttpException: 403 - Forbidden -
   at Altinn.App.Services.Implementation.InstanceAppSI.GetInstance(String app, String org, Int32 instanceOwnerId, Guid instanceGuid)
   at Altinn.App.Api.Controllers.ProcessController.CompleteProcess(String org, String app, Int32 instanceOwnerPartyId, Guid instanceGuid)
   at la

[2020-01-07 07:30] jeevananthank commented on #3302
tested. closing the issue.

[2020-01-07 07:30] #3302 closed

[2020-01-07 09:28] acn-sbuad commented on #2471
Turns out it's still an issue, but the duplication is in app template and service libary now. Reopening av assigning to @TheTechArch as he is working to fix it now.

[2020-01-07 11:43] TheTechArch commented on #2099
This is solved with the new template. Demonstrated before christmas

[2020-01-07 11:43] #2099 closed

[2020-01-07 11:45] lvbachmann commented on #3096
Functionally solved for T3.0 - further work in infrastructure team.

[2020-01-07 11:45] #3096 closed

[2020-01-07 11:45] TheTechArch commented on #2471
Created a new Altinn.Platform.Models nuget package

[2020-01-07 11:57] lvbachmann commented on #3111
Solved for TT02.

[2020-01-07 11:57] #3111 closed

[2020-01-07 12:00] lvbachmann commented on #2557
@alt-how Could you evaluate this against security demands for this solution?

[2020-01-07 12:11] #3100 closed

[2020-01-07 12:12] lvbachmann commented on #3101
Will be solved as an issue in TFS.

[2020-01-07 12:12] #3101 closed

[2020-01-07 12:19] lorang92 commented on #2892
This has been implemented, and telemetry can be seen in app insights, closing this as done.

Examples from at21 and at23:
![image](https://user-images.githubusercontent.com/10416981/71895056-43a12380-3150-11ea-942d-50d58c6e5f3f.png)
![image](https://user-images.githubusercontent.com/10416981/71895077-5582c680-3150-11ea-9790-fab4e04944f4.png)

[2020-01-07 12:19] #2892 closed

[2020-01-07 12:23] jeevananthank commented on #3465
verified. closing the issue.

[2020-01-07 12:23] #3465 closed

[2020-01-07 12:23] #2562 closed

[2020-01-07 12:24] jeevananthank commented on #1933
test is complete. closing the issue.

[2020-01-07 12:24] #1933 closed

[2020-01-07 12:24] #2564 closed

[2020-01-07 12:28] jeevananthank commented on #2814
the issues mentioned earlier are NOT fixed yet. @lvbachmann
this task has to be moved to development.

[2020-01-07 12:32] jeevananthank commented on #3402
this is not fixed yet. testing this with APP Api.

[2020-01-07 12:41] jeevananthank opened #3480 "Validate an archived instance gives 500 as response code"
## Describe the bug
**This is a negative test**
When an user tries to validate an instance that is archived (The process has ended), the response code is 500 Internal Server error

## To Reproduce
Steps to reproduce the behavior:
1. Login in SBL and get the cookies for API calls (AltinnStudioRuntime)
2. Start an instance and complete the process of the instance (archive instance)
3. Send a GET req

[2020-01-07 12:47] jeevananthank opened #3481 "Possible to upload data to an archived app instance"
## Describe the bug
**This bug is from a negative test**
The user is able to upload attachments to an archived (completed process) instance using APP Api.

## To Reproduce
Steps to reproduce the behavior:
1. Login in SBL and get the cookies for API calls (AltinnStudioRuntime)
2. Start an instance and complete the process of the instance (archive instance)
3. Send a POST request to upload an attach

[2020-01-07 13:46] #2566 closed

[2020-01-07 13:46] #2565 closed

[2020-01-07 13:46] #2561 closed

[2020-01-07 13:47] #2843 closed

[2020-01-07 13:50] #2545 closed

[2020-01-07 14:00] lorang92 commented on #3410
@lvbachmann @jeevananthank there is indeed stored logs in app insigts. Example from Storage in at21. So this seem to be solved.
![image.png](https://images.zenhubusercontent.com/5c8b5fcdfd0adb6f09c8384d/8717a884-1463-47c1-a757-946141cdc53e)

[2020-01-07 14:06] jeevananthank commented on #2532
The color difference is only with a browser inside a remote session.
Rest is verified. closing the issue.

[2020-01-07 14:06] #2532 closed

[2020-01-07 14:08] lvbachmann commented on #3410
Closing as this is verified by @lorang92

[2020-01-07 14:08] #3410 closed

[2020-01-07 14:09] TheTechArch commented on #3397
@agree as long as we now just filter based on org.

[2020-01-07 14:09] #3397 closed

[2020-01-07 14:13] lvbachmann commented on #2814
@SandGrainOne @erlendoksvoll Please evaluate the findings from @jeevananthank above to determine if they are mandatory fixes for MVP

[2020-01-07 14:16] lvbachmann commented on #3103
@ootneim Could you please check if we have sufficient app insights for Apps?

[2020-01-07 14:18] lvbachmann commented on #2550
@erlendoksvoll @SandGrainOne Could one of you please confirm that the configuration has been tested?

[2020-01-07 14:26] lorang92 opened #3483 "Setup release pipeline to Production for Altinn.Platform components"
## Description
As we are in the process of creating the production environment for Altinn.Platform we should automate releases to prod in the same manner as existing environments.

## Screenshots
![image](https://user-images.githubusercontent.com/10416981/71902163-c2528c80-3161-11ea-9901-281afa90bd01.png)

## Considerations
Who should be allowed to trigger release to prod? Here there probably shou

[2020-01-07 14:33] lvbachmann commented on #1853
Verification done. Findings (non-critical) to be handled as separate issues.

[2020-01-07 14:33] #1853 closed

[2020-01-07 14:47] #1983 closed

[2020-01-07 14:47] jeevananthank commented on #1983
I have verified this with an app (ttd/webdemo2). Content-loader is visible until all the resources/prefill is loaded.

[2020-01-08 06:23] altinnadmin opened #3485 "Update to Gitea 1.10.2"
Bug fixes: https://github.com/go-gitea/gitea/releases/tag/v1.10.2

[2020-01-08 07:26] #3485 closed

[2020-01-08 14:00] #2471 closed

[2020-01-08 14:24] lvbachmann commented on #3470
Please retest if #3463 is still relevant after this issue has been fixed.

[2020-01-08 19:40] acn-sbuad commented on #3020
activity log no longer empty, but entries in log should be fixed..

[2020-01-08 21:23] acn-sbuad commented on #2495
@jeevananthank can you confirm that this is fixed ?

[2020-01-08 21:24] acn-sbuad commented on #3298
@jeevananthank please confirm that this is fixed after certificate was loaded in SBL

[2020-01-08 21:25] acn-sbuad commented on #2518
@lvbachmann please advise if this is still relevant.. shouldn't all instantiating go thorugh the application's API and not directly to storage?

[2020-01-09 08:54] SandGrainOne commented on #2814
The GET operations parties/lookup and parties/lookupobject still take input through the body of the request. There is nothing against this in the http standard, but as we can see in this case not everyone supports it.

This in my opinion not a bug with this issue, generate swagger, but with the implementation of the service.

[2020-01-09 08:54] acn-sbuad commented on #3402
@jeevananthank please re-test #3465 as implementation of the initial fix was removed and replaced with a common fix that also fixes this bug.

[2020-01-09 09:09] jeevananthank commented on #3402
verified. closing the issue.

[2020-01-09 09:09] #3402 closed

[2020-01-09 09:12] jeevananthank commented on #2722
test is complete and all the associated bugs are closed. Closing the issue.

[2020-01-09 09:12] #2722 closed

[2020-01-09 09:15] jeevananthank commented on #3298
The inbox does not list the Altinn 3 instances.

[2020-01-09 09:28] SandGrainOne opened #3490 "Add a new register-parties-lookup method using POST"
## Description
There are three GET operations in platform-register that requires input through the Body of the request. While this is supported by .Net Core and the http standard it is not supported by swagger/OpenAPI. [Operation Object](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md#operation-object)

This change seeks to add a POST alternative to the operation t

[2020-01-09 10:00] jeevananthank commented on #1532
This bug is not applicable anymore. Error message disappears once there are changes to the field causing the error.
![image](https://user-images.githubusercontent.com/49391725/72057750-2e063800-32cf-11ea-9924-0739d0602a35.png)

[2020-01-09 10:00] #1532 closed

[2020-01-09 10:02] jeevananthank commented on #1716
the bug is not applicable anymore. app preview has been removed from Studio. closing the issue.

[2020-01-09 10:02] #1716 closed

[2020-01-09 10:26] jeevananthank commented on #2784
This bug is not reproducable anymore. closing the issue.

[2020-01-09 10:26] #2784 closed

[2020-01-09 10:29] jeevananthank commented on #2841
App preview is removed from Studio. Marking as 'won't fix'. Closing the case.

[2020-01-09 10:29] #2841 closed

[2020-01-09 11:15] acn-sbuad commented on #2622
closing issue and creating new bug wrt invalid token as it is confirmed that the implementation works.

[2020-01-09 11:15] #2622 closed

[2020-01-09 11:19] acn-sbuad opened #3492 "Certificate on app-server AT23 generates invalid jwt token"
## Describe the bug
08.01.20 Token generation was successfully tested the evening 08.01.20.
Morning of 09.01.20 the token generated by SBL is deemed invalid when sending requests to platform storage.

## To Reproduce
Steps to reproduce the behavior:
1. Go to inbox of user with active instances in at23.
2. See that no instances are rendered.
3. match request time to logged events in platform storag

[2020-01-09 11:32] jeevananthank commented on #2868
App Preview is removed from studio and the bug is not relevant anymore. closing the issue.

[2020-01-09 11:32] #2868 closed

[2020-01-09 11:33] jeevananthank commented on #2978
App Preview is removed from studio and the bug is not relevant anymore. closing the issue.

[2020-01-09 11:33] #2978 closed

[2020-01-09 11:50] jeevananthank commented on #2151
the response time when clicking on 'Lagre' is around 3 ms for a deployed app with only one input field.

[2020-01-09 11:56] jeevananthank commented on #663
the error mentioned is not seen in the console. closing the issue.

[2020-01-09 11:56] #663 closed

[2020-01-09 12:04] jeevananthank commented on #1905
App Preview is removed from studio and the bug is not relevant anymore. closing the issue.

[2020-01-09 12:04] #1905 closed

[2020-01-09 12:11] jeevananthank commented on #2160
App Preview is removed from studio and the bug is not relevant anymore. closing the issue.

[2020-01-09 12:11] #2160 closed

[2020-01-09 12:12] jeevananthank commented on #2349
App Preview is removed from studio and the bug is not relevant anymore. closing the issue.

[2020-01-09 12:12] #2349 closed

[2020-01-09 12:28] jeevananthank commented on #2700
App Preview is removed from studio and the bug is not relevant anymore. closing the issue.

[2020-01-09 12:28] #2700 closed

[2020-01-09 12:59] #2078 closed

[2020-01-09 12:59] lvbachmann commented on #2078
Information about the need for a .value suffix added to documentation at https://altinn.github.io/docs/altinn-studio/app-creation/logic/

[2020-01-09 13:01] lvbachmann commented on #1877
De to påpekningene til dokumentasjonen er nå utbedret. Den funksjonelle saken vil håndteres når vi gjeninnfører støtte for myke valideringer - sak #2079.

[2020-01-09 13:01] #1877 closed

[2020-01-09 13:08] jeevananthank opened #3493 "Text keys are displayed in studio and not the values"
## Describe the bug
Text keys are displayed in studio and not the values.

## To Reproduce
Steps to reproduce the behavior:
1. Login to Studio
2. See that the text in dashboard is not as expected and displays the text key names
3. Networks says call GetLanguageAsJSON gets 500 as response code with logs:

title: "ParsingException"
status: 500
detail: "   at IniParser.FileIniDataParser.ReadFile(Stri

[2020-01-09 14:13] jeevananthank commented on #2651
this issue is not seen in AT miljø for deployed apps. App preview is removed from studio.
Closing the bug.

[2020-01-09 14:13] #2651 closed

[2020-01-09 14:16] jeevananthank commented on #2577
Issue not reproducable (the difference in color was in a browser in a remote desktop connection). closing the issue.

[2020-01-09 14:16] #2577 closed

[2020-01-10 07:37] jeevananthank commented on #3493
verified. closing the issue.

[2020-01-10 07:37] #3493 closed

[2020-01-10 07:59] lvbachmann opened #3497 "Add AT24 and remove AT21 as environments"
## Description
Given the Altinn II release structure, it has been decided that there should be three rotating acceptance environments - AT22, AT23 and AT24. Altinn Studio and our pipelines are currently configured for AT21, AT22 and AT23 to be the relevant environments. Thus we need to add AT24 and remove AT21 to be in sync with the development of SBL.

## Considerations
An AT24 Platform cluster h

[2020-01-10 08:04] SandGrainOne commented on #2814
The GET operations register-parties-lookup and register-parties-lookupobject still take input through the body of the request. There is nothing against this in the http standard, but as we can see in this case (OpenAPI) not everyone supports it.

This in my opinion not a bug with this issue, generate swagger, but with the implementation of the service.

Created new issue:
https://github.com/Altinn

[2020-01-10 08:10] jeevananthank commented on #2814
@SandGrainOne any actions on the points 1 and 2 ?

![image](https://user-images.githubusercontent.com/49391725/72136369-f22fa900-3388-11ea-9016-d70f0e27cb9c.png)

[2020-01-10 08:29] jeevananthank commented on #2814
Swagger for PDF: https://platform.at21.altinn.cloud/pdf/swagger-ui.html#/pdf-controller
and there is no problem with the casing now. closing the issue.

[2020-01-10 08:29] #2814 closed

[2020-01-10 11:42] lvbachmann commented on #2533
All user stories under the epic are closed. Thus closing the epic itself.

[2020-01-10 11:42] #2533 closed

[2020-01-10 11:48] lvbachmann commented on #2092
As far as I can tell, all the relevant subjects are covered in our current documentation.

[2020-01-10 11:53] #71 closed

[2020-01-10 11:53] lvbachmann commented on #71
All user stories under this epic are closed. Thus closing the epic.

[2020-01-10 11:54] lorang92 commented on #3363
Nginx is now setup in all env, closing issue as done.

[2020-01-10 11:54] #3363 closed

[2020-01-10 11:57] lvbachmann commented on #244
Analysis done and all relevant user stories generated. Thus setting (remaining) estimate to 0.

[2020-01-10 12:42] TheTechArch opened #3500 "Implement DataProtection in Altinn Studio Designer and Apps"
## Description
Related to #2595 and # we have implemented CSRF valdation of API use.

This uses [DataProtection mechanismen](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/introduction?view=aspnetcore-3.1) to define secrets. Without a shared secret between pods request will fail when it is generated on one pod and used on another.

## Considerations
The solution should use s

[2020-01-10 14:22] acn-sbuad commented on #3219
@lvbachmann this is not an issue for at23 and TT02 clusters.. As at21 has not been used for a while, I suggest we close this bug and tag it won't fix..

[2020-01-10 14:45] jeevananthank commented on #2465
This is a continuous task. Postman and Testcafe tests are updated. Closing this task.

[2020-01-10 14:45] #2465 closed

[2020-01-11 13:11] lvbachmann commented on #3219
Closed as per argumentation from @acn-sbuad

[2020-01-11 13:11] #3219 closed

[2020-01-13 07:29] jeevananthank commented on #3473
Could see that the bug has been moved back to dev in TFS.

[2020-01-13 07:46] jeevananthank commented on #3492
20.1 code is available in AT24 and it is not possible to deploy apps to AT24 now.
The bug has to wait until 20.1 code is available in a test environment.

[2020-01-13 07:50] jeevananthank commented on #2072
@alt-how is it possible to test the bug ?

[2020-01-13 07:51] jeevananthank commented on #2595
@alt-how is it possible to verify this bug also ?

[2020-01-13 07:53] alt-how commented on #2072
@jeevananthank Yes, just verify that the normal operations in Designer works as before the PR was merged.

[2020-01-13 07:55] alt-how commented on #2595
@jeevananthank @TheTechArch implemented the solution for this issue.

[2020-01-13 09:46] lvbachmann commented on #2518
@acn-sbuad For MVP (at least) it's true that the app API should be used. Thus closing this.
For a future scenario where app owner does updates directly to storage (not confirmed that this is how we will solve it), correct activity log will be added as a requirement.

[2020-01-13 09:46] #2518 closed

[2020-01-13 11:34] SandGrainOne commented on #2550
@lvbachmann Not all configuration has been tested. As TT02 is the only environment with working infrastructure we depend on having apps in the environment.

Working:
- The designer was able to update an app in storage.

[2020-01-13 12:15] lvbachmann opened #3507 "Self-aware app that can update files in Platform"
From #3282
The app should be self-aware and get its own files from a certain commit, create / update the files in Platform solutions.
Applicationmetadata.json and policy.xml for a certain commit are files that Storage and Authorization needs and Designer used to upload these however the app should be in charge og handling itself.

This suggestion will give a lot of benefits beyond solving the bug,

[2020-01-13 12:24] jeevananthank opened #3508 "Issues with app build"
## Describe the bug
1. Build of old apps is not updated with the status
2. Build of the new apps are failing

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and find an app and make changes to the app
2. Push the changes to the repo and build the app from Deploy page
3. The Studio shows the app build is not started (storage is updated), but the pipeline shows the build

[2020-01-13 12:24] altinnadmin commented on #3507
:grin:

![image](https://user-images.githubusercontent.com/6088624/72255790-f289a780-3607-11ea-8230-d8dcc0f3dfc9.png)

[2020-01-13 12:51] #2072 closed

[2020-01-13 12:51] jeevananthank commented on #2072
regression test of studio is complete. The security part of this issue has been verified by @alt-how

[2020-01-14 08:06] lvbachmann commented on #2591
This might be a prerequisite for #1783

[2020-01-14 09:02] lorang92 opened #3510 "Editing text resources in studio fails due to missing X-XSRF-TOKEN header."
## Describe the bug
Editing text resources fails in studio due to missing X-XSRF-TOKEN header in the request. This is because the XSRF-TOKEN cookie is not appended to the header value.

## To Reproduce
Steps to reproduce the behavior:
1. Go to studio
2. Select app
3. Navigate to "Språk"
4. Try saving a new text resource
5. See error in post call

## Expected behavior
Should not fail.

[2020-01-14 09:21] lvbachmann commented on #3188
Issue with test in Altinn Studio. This functionality is no longer supported.

[2020-01-14 09:21] #3188 closed

[2020-01-14 09:27] lvbachmann commented on #974
@TheTechArch Is this still relevant with new app structure?

[2020-01-14 09:30] TheTechArch commented on #974
@lvbachmann it is only relevant if we still gonna support web editor for files. And it is not currently been removed.

[2020-01-14 09:44] lvbachmann commented on #3437
@altinnadmin Given your message in Slack yesterday; is this issue solved?

[2020-01-14 10:07] lorang92 commented on #3508
@jeevananthank this has been fixed and can be retested

[2020-01-14 10:14] jeevananthank commented on #3508
Build works fine now.

[2020-01-14 10:14] #3508 closed

[2020-01-14 10:47] jeevananthank commented on #2973
this bug is not valid anymore. Process of an app instance is automatically started when an app instance is created.

[2020-01-14 10:47] #2973 closed

[2020-01-14 11:13] lvbachmann commented on #3163
@TheTechArch What is the status for this issue? Can it be closed?

[2020-01-14 11:18] lvbachmann commented on #440
All issues completed. Closing epic.

[2020-01-14 11:18] #440 closed

[2020-01-14 12:05] #349 closed

[2020-01-14 13:02] altinnadmin commented on #3437
@lvbachmann Partially. Users are removed, but we also need to delete (or update) the connections.

[2020-01-14 14:28] acn-sbuad commented on #3473
I don't think we will be following up anything else on this bug, ref conversations in tfs. Should we close the issue here in github, @lvbachmann ?

[2020-01-15 08:09] lvbachmann commented on #3470
Retest with other app - if app only error, close this

[2020-01-15 08:45] jeevananthank commented on #3510
verified in dev.altinn.studio. closing the issue.

[2020-01-15 08:45] #3510 closed

[2020-01-15 09:55] jeevananthank opened #3514 "POST Instance gets 400 Bad request as response code from browser"
## Describe the bug
Starting a new instance of a deployed app from SBL, gets 400 Bad request as response code for POST instance call.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start an instance of any deployed app
[https://ttd.apps.at23.altinn.cloud/ttd/app-build-test/](url)
2. The user gets to see an error page and in networks one could see that POST instance call has

[2020-01-15 10:32] tmsaur opened #3515 "User account"
Hei,

vi i Steinkjer kommune kunne tenkte oss å se mer på Altinn Studio.
Forsøkte å opprette brukerkonto (linket med min github-konto) men har ikke fått aktivering eller annen info tilbake. Credentials fungerer heller ikke.

En annen ting er at vi som er kommune-brukere ikke får opprettet bruker på Slack workspacet til Altinn Studio. Ligger inne en drop Down for å velge domene, kommune.no - men fu

[2020-01-15 10:49] #3515 closed

[2020-01-15 12:44] lvbachmann commented on #3514
Did a quick retest. Not able to reproduce by following steps described above. @jeevananthank @acn-sbuad

[2020-01-15 12:50] jeevananthank commented on #3514
@lvbachmann It is very strange. It works sporadically. Instantiation worked for me now, and the second request got 400 as response.

[2020-01-15 13:36] lvbachmann commented on #3470
Retested with https://ttd.apps.at23.altinn.cloud/ttd/app-build-test/ - not reproduceable. Closing this and moving issue description to app specific issue.

[2020-01-15 13:36] #3470 closed

[2020-01-15 13:37] lvbachmann commented on #2741
Bug #3470 only affected this app. Description:

## Describe the bug
When trying to submit data that fails a validation check, I am still able to submit (but I get an error message that it's not possible on the page confirming that I have submitted)

## To Reproduce
Steps to reproduce the behavior:
1. Go to a valid app (i.e. https://ttd.apps.at23.altinn.cloud/ttd/endring-av-navn-v2/)
2. Fill out da

[2020-01-16 07:09] altinnadmin commented on #3435
Handling an subscription of events needs to be handled on a level above apps. This work should be handled in a new epic.

[2020-01-16 08:19] TheTechArch opened #3518 "Create button dissapera"
IF you try to create a app for a org that you dont have the right for it will fail and the create button dissapear.  If you then change org it does not appear.

[2020-01-16 08:45] altinnadmin commented on #921
This needs focus.

[2020-01-16 09:08] lorang92 opened #3520 "App deploy and build pipelines are hardcoded with "dev.altinn.studio""
## Describe the bug
Deploy and build pipelines are hardcoded with "dev.altinn.studio" when updating the status for release and deploy builds in our cosmos db. This works fine because we use a common db across env, but is not ideal for logging/debugging etc.

## To Reproduce
Steps to reproduce the behavior:
1. Go to altinn-studio-deploy-app-image-v5 (for project members only)
2. See hardcoded value

[2020-01-16 09:21] acn-sbuad commented on #3514
CSRF har been disabled in apps.. Hoping this will fix the problem for now. Not sure what we should do with this bug, tho @jeevananthank

[2020-01-16 10:57] lvbachmann opened #3522 ""Discard my changes" in Altinn Studio designer"
## Description
When working with the Altinn Studio Designer, it can be beneficial to discard all changes you've made and revert to the last pushed commit. There should probably be a button easily available for this.

## Screenshots
![image](https://user-images.githubusercontent.com/6088624/87549807-8e2acc00-c6ae-11ea-8b87-53188c454e58.png)

https://www.figma.com/proto/kq3yTAS4vifQgrNeTjL5d9/Sprint

[2020-01-16 12:11] jeevananthank commented on #3492
Tested in AT24 with 20.1 code. App instances are visible in inbox.  closing the issue.

[2020-01-16 12:11] #3492 closed

[2020-01-16 12:20] jeevananthank commented on #3020
verified in AT24. closing the issue.

[2020-01-16 12:20] #3020 closed

[2020-01-16 12:20] jeevananthank commented on #3298
verified in AT24. closing the issue.

[2020-01-16 12:20] #3298 closed

[2020-01-16 12:37] #2495 closed

[2020-01-16 12:37] jeevananthank commented on #2495
The envelope is open for the instances that are in progress. closing the issue.

[2020-01-16 12:38] altinnadmin commented on #2769
We now have 3 environments for 3.0, connected to the corresponding environments for 2.0.
This is simple, consistent and easy to understand.

A simplification of this will probably be done across both 2.0 and 3.0. Closing this until an actual need arises.

[2020-01-16 12:38] #2769 closed

[2020-01-16 13:15] lorang92 commented on #3520
@jeevananthank this has been fixed. Can you verify that deploy to all envs and build works in dev.altinn.studio?

[2020-01-16 13:19] lorang92 opened #3525 "Platform.Receipt build pipeline fails after new project structure"
## Describe the bug
Master and PR pipelines for Platform.Receipt fails with error message `##[error]COPY failed: stat /datadisk/docker/tmp/docker-builder769438167/react-apps/lerna.json: no such file or directory
`

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24787&view=logs&j=00af5505-930d-50dd-3844-b167e8b4bb13&t=23fcc

[2020-01-16 13:31] lorang92 opened #3526 "altinn-studio-test-jest pipline fails after new project structure"
## Describe the bug
altinn-studio-test-jest pipline fails after new project structure.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24758&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b
2. See error

## Expected behavior
Should run with new structure

[2020-01-16 13:48] acn-sbuad opened #3527 "Move designer helm-charts to altinn-studio-ops project"
## Description
Currently secrets that could be defined in values.yaml are manually set on the designer environments in the aks because the secrets shouldn't be checked into github. By moving the helm charts to the same repository as helm charts for platform components we would have version control of the values and an easier way of administrating the values.

## Acceptance criteria
- No perceived

[2020-01-16 13:55] lvbachmann commented on #597
Kulturrådet - the org with this need - has been able to solve their need through what is described in #440. Thus closing this.

[2020-01-16 13:55] #597 closed

[2020-01-16 14:01] lvbachmann commented on #2424
@acn-sbuad @jeevananthank Given that #2495 is now solved - is there still any work left on this issue?

[2020-01-16 14:13] jeevananthank opened #3528 "Missing information in activity log for instances created by an appOwner"
## Describe the bug
When an appOwner creates an instance for an user using APP Api, the activity log does not say who has created the instance.

## To Reproduce
Steps to reproduce the behavior:
1. Get maskinporten token and get altinn jwt from Authentication/convert API
2. Use the token as BearerToken and create an app instance for an user in SBL
3. Login to SBL as the user and check for the insta

[2020-01-16 14:18] lvbachmann commented on #3514
Moved to icebox - retest after we enable CSRF again. (Self-assign to remember 😅)

[2020-01-16 14:20] lvbachmann commented on #3473
Basic solution to problem implemented - further follow up in TFS only.

[2020-01-16 14:20] #3473 closed

[2020-01-16 14:47] lorang92 commented on #3526
Dockerfile has been updated and pipeline now goes green for master (https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24950&view=logs&j=00af5505-930d-50dd-3844-b167e8b4bb13) and pr (https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24948&view=logs&j=00af5505-930d-50dd-3844-b167e8b4bb13).

Closing issue as done.

[2020-01-16 14:49] lorang92 commented on #3525
Dockerfile has been updated and pipeline now goes green for master (https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24950&view=logs&j=00af5505-930d-50dd-3844-b167e8b4bb13) and pr (https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24948&view=logs&j=00af5505-930d-50dd-3844-b167e8b4bb13).

Closing issue as done.

[2020-01-16 14:49] #3525 closed

[2020-01-16 14:59] lorang92 commented on #3526
Pipeline and failing tests in master branch have now been fixed, and pipeline is now passing again (https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=24953&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=3efd9125-3161-57ee-e30c-e647b481d948).

Closing this as done.

[2020-01-16 14:59] #3526 closed

[2020-01-16 15:03] lvbachmann commented on #2595
Given that we've disabled this solution (#3519), I assume the correct status is "Specifying".

[2020-01-16 16:20] acn-sbuad commented on #3497
Moving back to backlog as only infra tasks are remaining. Must be completed by admins in Azure

[2020-01-17 08:10] #2412 closed

[2020-01-17 08:11] lvbachmann commented on #2412
Det er gjort en større kvalitetssikringsrunde på dokumentasjonen de siste ukene. Det som er påpekt i denne saken ble rettet i den forbindelse.

[2020-01-17 08:13] lorang92 opened #3531 "Setup release pipeline to staging and prod for altinn-repositories"
## Description
Altinn repositories is currently only setup with a release pipeline to dev. This means that deployment to staging and prod is done manually. This should be automated.

## Acceptance criteria
- Release pipeline for altinn-repositories is extended with "staging" and "prod" environments.

## Tasks in grooming/preparation
- [ ] Verify that this issue meets [DoP](https://confluence.brreg

[2020-01-17 08:26] lorang92 opened #3532 "Shared docker image for altinn-loadbalancer and altinn-repositores across environments"
## Description
Currently, we have individual docker images for each environment for altinn-loadbalancer and altinn-repositories. This is not how we want to organize images, but rather share image and supply configuration for each env.

## Screenshots
![image](https://user-images.githubusercontent.com/10416981/72595690-b3f73400-390a-11ea-9217-a4220b004b7c.png)

## Considerations
Supplying values fo

[2020-01-17 09:22] lorang92 opened #3533 "App deploy to at22 fails"
## Describe the bug
App deploy to at22 fails.

## To Reproduce
Steps to reproduce the behavior:
1. Go to studio deploy page
2. Trigger deploy to at22
3. See error

## Expected behavior
Should deploy successfully.

[2020-01-17 09:27] altinnadmin commented on #2386
@nkylstad @TheTechArch Can an app dev write a few lines of code to support this, or is something missing? I assume the user/org that is trying to instantiate is part of the incoming context?

[2020-01-17 09:52] nkylstad commented on #2386
Yes, this is possible now by writing code. Logged in user/org is part of the context - this is not explicitly available in the `InstantiationHandler.cs` file, but can be added by the developer.
@TheTechArch we should make the httpcontext explicitly available in `InstantiationHandler.cs` to make it more straightforward to do this kind of check.

[2020-01-17 10:11] altinnadmin commented on #2337
@TheTechArch @SandGrainOne Is this issue still relevant?

[2020-01-17 10:29] altinnadmin commented on #2301
@acn-sbuad Is this still relevant now that runtime has been removed from studio and integration between SBL and Apps is in place?

[2020-01-17 11:06] acn-sbuad opened #3535 "Maskinportentoken verification fails"
## Describe the bug
Token vi får fra ver2 miljøet til maskinporten er signert med et sertifikat som har en annen kid enn det som er i JSON Web Key Settet de eksponerer på sitt Open ID connect configuration nedpoint. Jeg klarer i hvertfall ikke å se noe alternativ feil.

## To Reproduce
Steps to reproduce the behavior:
1. Generate maskinporten ver2-token
2. Add token as authentication bearer
3. Sen

[2020-01-17 11:35] altinnadmin commented on #2240
@lvbachmann Since "correspondence" (meldingstjeneste) is not a concept in 3.0, I guess this issue should be either reformulated or closed.

[2020-01-17 11:44] altinnadmin commented on #2239
Only relevant if studio should be able to configure correspondence services.

[2020-01-17 11:54] altinnadmin commented on #2234
All data, including PDFs, can be retrieved by the service owner using the storage APIs. Closes this.

[2020-01-17 11:54] #2234 closed

[2020-01-17 12:01] altinnadmin commented on #2233
Since we're using Gitea an app can be reused across orgs and users by forking an app repo.
Reusing parts can be done by copying files or by contributing reusable elements into Studio.

[2020-01-17 12:15] altinnadmin commented on #2158
Can already be done by changing the version that is loaded from CDN. Default is that major version 1 is loaded, so any security or minor fixes that we do will be used automatically. If we introduce breaking changes, we will bump that to version 2 etc.

Here's the line of code to change in the app.
https://github.com/Altinn/altinn-studio/blob/master/src/Altinn.Apps/AppTemplates/AspNet/App/views/Hom

[2020-01-17 12:41] lorang92 commented on #3533
Designer does not reach at22 platform components because our loadbalancer is not assigned an external ip, crashes with error message
`MC_altinnplatform-rg_platform-at22-aks_westeurope/providers/Microsoft.Network/publicIPAddresses/platform-at22-pip01 is referenced by multiple ipconfigs in resource /subscriptions/aa378842-6e1f-48f4-89f6-0c76d42cd`
I'm asuming this is related to the new platform clus

[2020-01-17 14:14] jeevananthank commented on #3535
verified. closing the issue.

[2020-01-17 14:24] nkylstad commented on #3463
@lvbachmann  tested this OK in at23 now, tested with the app linked in the bug description, and data that was too long in the "first name" field. Server-side validation returned errors, which were displayed in the form:
![image](https://user-images.githubusercontent.com/1636323/72619372-634cfe80-393d-11ea-992e-1c387de745fb.png)

Do you have some specific test data that repsoduces this issue?

[2020-01-17 14:39] acn-sbuad commented on #3535
Reopening.. issues with authentication of designer due to same issue.. Please verify that deploy from studio works when issue is moved to test, jeeva.

[2020-01-20 07:14] jeevananthank commented on #3463
@lvbachmann I am not able to reproduce this issue either. Tested with ttd/app-build-test
![image](https://user-images.githubusercontent.com/49391725/72705865-d1234100-3b5c-11ea-8d4a-9acdb2df3bba.png)

[2020-01-20 08:17] acn-sbuad commented on #2424
@lvbachmann yes,  the case of the org instantiating an instance on behalf of a user was not covered in #2495.

[2020-01-20 08:23] acn-sbuad opened #3540 "Remove duplicate functions in platform Storage and improve unit/integration tests"
## Description
During implementaiton of fix of #2424 issues were found in the Platform Storage code.
Functions have been duplicated and the tests do not cover the correct functions.

Also unit tests were not implemented for the functionality introduced in #2424 as the remaining issues in the test code should be fixed first.

## Acceptance criteria
- There is a single function for converting instan

[2020-01-20 08:25] altinnadmin commented on #3532
@alt-how Didn't you mention working on a solution for this?

[2020-01-20 08:25] acn-sbuad commented on #2424
Issue #3540 created to handle technical dept identified during implementation. Also to cover the implementation of tests for this bug as other issues have to be prioritized before sbl feature freeze

[2020-01-20 08:27] altinnadmin opened #3542 "Upgrade to Gitea 1.10.3"
Bug fixes: https://github.com/go-gitea/gitea/releases/tag/v1.10.3

[2020-01-20 08:30] lvbachmann commented on #3463
Not possible to reproduce. Thus closing.

[2020-01-20 08:30] #3463 closed

[2020-01-20 08:55] acn-sbuad commented on #3528
Setting to CD 1.0, as fix should be implemented in 20.2 SBL release

[2020-01-20 09:38] nkylstad commented on #3169
Updated calls. Can be tested by monitoring the network calls during instantiation and data submission.

[2020-01-20 09:39] lvbachmann commented on #2092
Technical QA done as part of other work by @TheTechArch. Thus closing this.

[2020-01-20 09:39] #2092 closed

[2020-01-20 12:54] #3542 closed

[2020-01-20 13:16] SandGrainOne commented on #2550
I reopened this while working on some improvements to the storage API triggered by my work in API management.

[2020-01-20 13:17] TheTechArch opened #3546 "Looses app metadata"
## Describe the bug
In some cases we loose app metadata.

## To Reproduce
Steps to reproduce the behavior:
Create app.-
Upload datamodel
 Change party requirement. This overwrite the applicationmetadatra and information about datamodel is lost

## Expected behavior
Datamodell info is kept

## Cause / Resolution
When uploading the dataModel, application metadata is updated backend, but the revised

[2020-01-20 13:43] nkylstad commented on #3187
1. Fixed to show app name, not repo name
2. app name in text is now shown in **bold** after discussion with @Febakke
3. Updated text to "virksomhet" to match with text in Altinn Studio.

[2020-01-20 14:30] TorOskar opened #3549 "Cannot upload a data model through the UI"
## Describe the bug
It is not possible to upload a data model through the designer UI in studio.

## To Reproduce
Steps to reproduce the behavior:
1. Start a new app
2. Go to the "Lage" tab
3. Click "Datamodell"
4. Error: {"title":"An error occurred.","status":500,"instance":"/designer/toroskar/test20200107/Model"}

## Expected behavior
Be able to upload a data model

## Screenshots
![2020-01-20 1

[2020-01-20 14:34] lorang92 commented on #3549
Hei @TorOskar! Det ser ut som du har en gammel app-struktur. Kunne du prøvd og laget en ny app og prøve dette på nytt?

[2020-01-20 15:53] TheTechArch opened #3550 "Name change on about page resets name to null"
## Describe the bug
When changing the name of an app from the About page, the value in App/config/applicationmetadata.json is set to null

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio Open an app
2. Navigate to About page and Edit the name of the app
3. Push the changes to the repo
4. One could see that App/config/applicationmetadata.json takes null as value to the ti

[2020-01-20 15:58] alt-how commented on #3532
Yes, I have a proof of concept on altinn-repositories including changes to the app.ini, dockerfiles and helm charts.

[2020-01-20 17:46] acn-sbuad commented on #2591
Changes to process event names. Old processes will break when trying to retrieve history,

[2020-01-21 07:35] lvbachmann commented on #155
Old draft, and covered by #977 - thus closing.

[2020-01-21 07:35] #155 closed

[2020-01-21 07:36] lvbachmann commented on #595
Higher priority as SSB have said they want/need this.

[2020-01-21 07:37] lvbachmann commented on #594
Higher priority as SSB have said they want/need this.

[2020-01-21 07:45] lvbachmann commented on #1391
After improving local development, this is no longer relevant. Thus closing.

[2020-01-21 07:45] #1391 closed

[2020-01-21 07:45] jeevananthank commented on #3535
verified. closing the issue.

[2020-01-21 07:45] #3535 closed

[2020-01-21 07:47] lvbachmann commented on #1387
Epic without any functional use case - other epics will be solving this need.

[2020-01-21 07:47] #1387 closed

[2020-01-21 07:55] lvbachmann commented on #1883
@TheTechArch Is this what you wanted to start working on in relation to the workshop with Sirius?

[2020-01-21 08:02] lvbachmann commented on #2041
@TheTechArch Does this file still exist after switching to new app template?

[2020-01-21 08:07] ToreMasoy opened #3551 "Endring-av-navn-v2 - "undefined" middle name"
## Describe the bug
When middle name is left blank by the user, the combined name will contain "undefined" as middle name.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://ttd.apps.at24.altinn.cloud/ttd/endring-av-navn-v2/#/
2. Add first name "Ola" and last name "Nordmann", but not middle name
3. Confirm name change and select your motivation for it
4. Click on Lagre and close th

[2020-01-21 08:33] jeevananthank opened #3552 "App logic menu does not open up when clicked on the texts"
## Describe the bug
App logic menu does not open up when clicked on the texts and works only when clicked on the arrows. This is affecting 3 test cases in testcafe. (The line-height is 0 and testcafe assumes the element is not visible)

## To Reproduce
Steps to reproduce the behavior:
1. Login to Altinn studio and open any app.
2. Navigate to Lage page and click on the texts in app logic menu
3. T

[2020-01-21 08:51] jeevananthank opened #3553 "lastChangedBy is not updated when clicking on Lagre button"
## Describe the bug
lastChangedBy is not updated when clicking on Lagre button. This makes the instances created by an appOwner to be an 'Unread' message in inbox.

## To Reproduce
Steps to reproduce the behavior:
1. Create an app instance as an appOwner from API.
2. Login to SBL with the user to whom the instance was created.
3. Open the unread instance -> Fill in data -> Click 'Lagre'
4. Close t

[2020-01-21 09:05] altinnadmin opened #3554 "Update node base-images to 12.14"
We're currently using Node 10.13.0 on Debian in our multi-stage builds.
This version is getting old, so we should switch to using the latest LTS, which is currently 12.14.1.

We should also switch to using the alpine-based node images to speed up initial downloads and reuse of base images.

## Tasks
- [x] Update all Dockerfiles
- [x] Update Readme

[2020-01-21 09:13] jeevananthank opened #3556 "Possible to create instances for a person from API when app is allowed only for underenhet"
## Describe the bug
Possible to create instances for a person when app is allowed only for underenhet from API (both as an appOwner and as an instanceOwner)

## To Reproduce
Steps to reproduce the behavior:
1. Pre requisite: An access-controlled app is allowed only for an underenhet.
2. Push and deploy the changes to a test environment.
3. Authenticate an user for using API , get AltinnStudioRunti

[2020-01-21 09:34] TheTechArch commented on #2041
@lvbachmann @nkylstad confirmed that this is not in use. I did not add it to the new template

[2020-01-21 09:34] #2041 closed

[2020-01-21 09:48] jeevananthank opened #3557 "App instance remains unread after form filling has been opened"
## Describe the bug
The app instances created by appOwner remains unread, eventhough the instanceOwner has opened the instance and the app frontend has been rendered.

## To Reproduce
Steps to reproduce the behavior:
1. Create an app instance as an appOwner for a person.
2. Login to SBL as the person and open the unread instance from inbox.
3. The app frontend is rendered for form fillling.
4. Wit

[2020-01-21 09:49] TineHoellre opened #3558 "not able to add radio buttons manually"
## Describe the bug
Når jeg prøver å legge inn navn eller verdi på radioknapper "forsvinner" siden.

## To Reproduce
Steps to reproduce the behavior:
1. Gå til en eksisterende eller lag en ny app
2. Gå til "Lage" deretter "UI-Editor", dra inn en radioknapp
3. Huk av for "Manuelt" og "Legg til flere"
4. Prøv å skriv noe i feltene for "Navn" eller "Verdi"
3. See error

## Expected behavior
Forventer

[2020-01-21 10:56] TheTechArch opened #3559 "App ignore accept header"
## Describe the bug
When calling the data endpoint it only returns json even if accept header says application/xml

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. See error

## Expected behavior
Lorem ipsum

## Screenshots

## Additional info

[2020-01-21 10:59] jeevananthank commented on #3169
verified. closing the issue.

[2020-01-21 10:59] #3169 closed

[2020-01-21 11:42] acn-sbuad commented on #2943
@lvbachmann could we consider moving this to CD 1.0 ? Setting up the collections with partition key without having to preserve the data would save us a day or two of extra work..

[2020-01-21 12:03] lorang92 commented on #3552
@jeevananthank there was an issue with the designer build pipeline due to the new repo structure. This caused an old build of the frontend to be deployed. This has now been fixed and this issue should no longer be an issue. Retest and confirm this please :)

[2020-01-21 12:16] #3552 closed

[2020-01-21 12:16] jeevananthank commented on #3552
verified. closing the issue.

[2020-01-21 12:37] jeevananthank commented on #3551
@ToreMasoy updated logic in Rulehandler.js to handle this. Please retest.
![image](https://user-images.githubusercontent.com/49391725/72805432-25105180-3c53-11ea-936d-4791abc0e543.png)

[2020-01-21 12:46] acn-sbuad commented on #3528
@jeevananthank this can only be tested once we have platform at22 up and running again.

[2020-01-21 12:47] lvbachmann commented on #3011
@lvbachmann Go through this and see if any new issues need to be created. Then close.

[2020-01-21 12:49] ToreMasoy commented on #3551
@jeevananthank Working fine now!
To make it "perfect" you should remove one of the spaces between in "fornavn  etternavn".

[2020-01-21 12:52] lvbachmann commented on #3127
To be solved together with #1127

[2020-01-21 12:55] lvbachmann commented on #3426
@nkylstad @lorang92 Is this still relevant after the restructuring that has been done lately?

[2020-01-21 13:08] lvbachmann commented on #3436
@alt-how Do you know what this is related to?

[2020-01-21 13:12] jeevananthank commented on #3551
thanks for the test. It has been fixed now and migrated to AT24.

[2020-01-21 13:28] lvbachmann commented on #3531
Should be done when Studio prod is moved to infrastructure in Norway

[2020-01-21 13:33] lvbachmann commented on #3288
Further work to be completed in #3374

[2020-01-21 13:33] #3288 closed

[2020-01-21 13:35] lvbachmann commented on #1491
Unlikely to ever be prioritised

[2020-01-21 13:35] #1491 closed

[2020-01-21 17:39] altinnadmin commented on #3518
@TheTechArch So the real bug is that orgs you don't have access to appears in the first place?
Is your user part of the org, but not an owner?

[2020-01-22 07:14] jeevananthank commented on #3550
@nkylstad this bug is blocking the retest of #3187

[2020-01-22 09:00] lorang92 commented on #3426
@lvbachmann @nkylstad  this is no longer an issue after the restructuring. Closing this issue as fixed.

[2020-01-22 09:00] #3426 closed

[2020-01-22 09:04] SandGrainOne opened #3562 "SBL Portal require SubscriptionKey to get change requests (CUD) through API Management"
## Describe the bug
The SBL Portal will be unable to perform delete, undelete and archive operations without a subscription key to get through API Management. The integration layer in SBL needs to add a subscription key to the header of all requests.

## To Reproduce
Steps to reproduce the behavior:
1. Attempt to delete, undelete or archive an element. Needs to be tested in TT02 or PROD. No other

[2020-01-22 09:54] lvbachmann commented on #3557
Might be blocked by #3553

[2020-01-22 12:01] jeevananthank commented on #3558
Duplicate of #3381 @lvbachmann

[2020-01-22 12:29] jeevananthank commented on #3546
Could reproduce this issue in dev.altinn.studio.

[2020-01-22 12:47] jeevananthank commented on #3551
@ToreMasoy ready for retest

[2020-01-23 06:38] alt-how commented on #3500
Sharing criteria:
- The keys can be shared in the app-cluster by using azure files and persistent volume claims (https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv) or using blob storage and key vault. Both solutions should be assessed for performance (latency) and stability.

Encrypted-at-rest criteria:
The keys can be protected by either using azure key vault or encrypted with an

[2020-01-23 10:10] jeevananthank opened #3569 "User not redirected to app instantiation when user logs in with required auth level"
## Describe the bug
User not redirected to app instantiation when user logs in with required  auth level.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL with altinn pin codes
2. Create an app instance that requires higher auth level login (auth level 3)
[https://ttd.apps.at24.altinn.cloud/ttd/security-level3-app/](url)
3. User is redirected to an informatino page -> to idporten

[2020-01-23 10:18] #1629 closed

[2020-01-23 10:18] jeevananthank commented on #1629
Test is complete. Closing the issue.
#3569 is registered during the test of the user story.

[2020-01-23 11:33] jeevananthank commented on #3187
verified by manually editing the applicationmetata.json. This will be tested again once #3550 is fixed.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/9d0e2ec8-8055-4e4b-86c6-89c43f4bff5b)

[2020-01-23 11:33] #3187 closed

[2020-01-23 11:35] jeevananthank commented on #3550
Test #3187 once this is fixed.

[2020-01-23 13:04] lorang92 commented on #3533
@jeevananthank this issue has been fixed and can be retested :)

[2020-01-23 13:35] jeevananthank commented on #3533
verified app deploy to at22. closing the issue.

[2020-01-23 13:35] #3533 closed

[2020-01-23 13:55] jeevananthank commented on #3528
Verified.
![image.png](https://images.zenhubusercontent.com/5cac6b568d0ceb76ea94b22a/0d5e32ae-6e36-4d16-85ac-0128f4236868)

[2020-01-23 13:55] #3528 closed

[2020-01-23 14:00] jeevananthank commented on #3389
App deploy to AT22, 23, 24, TT02 has been verified.
@lvbachmann should this task wait until we do a app deploy to Production environment ?

[2020-01-23 14:14] jeevananthank commented on #3520
verified app deploy to at22, 23, 24, tt02. closing the issue.

[2020-01-23 14:14] #3520 closed

[2020-01-23 14:25] nkylstad commented on #3550
Cannot reproduce. @jeevananthank can you retest?

[2020-01-23 14:49] jeevananthank commented on #3550
could reproduce the issue.
newtestuser/datamodel-check

A hyphen (-) was removed from the name of the app and pushing the changes has set null in applicationmetata.json
![image](https://user-images.githubusercontent.com/49391725/72994677-d5b75600-3df7-11ea-8d3a-5911fcdf7515.png)

[2020-01-23 15:08] altinnadmin opened #3573 "Upgrade nginx to alpine and explicit version"
We're currently using `nginx:latest` on Debian Buster studio.

We should switch to using the alpine-based image with explicit versioning to make sure all devs and environents are using the same version. This is currently `nginx:1.17.8-alpine`.

## Tasks
- [x] Update all relevant Dockerfiles

[2020-01-23 15:26] #3573 closed

[2020-01-24 09:31] lvbachmann commented on #3389
Closing this. We will test this for Prod as part of a lot of other activities (and a bug will be registered if it doesn't work).

[2020-01-24 09:31] #3389 closed

[2020-01-24 09:33] nkylstad commented on #3550
This was an issue the _first_ time one changes the name of the app. In that case, the name was not saved. Subsequent name changes are saved ok.
PR for fix is merged, fix can be tested once deploy is ready.

[2020-01-24 09:34] lvbachmann commented on #125
Last issue closed. Thus closing the epic.

[2020-01-24 09:34] #125 closed

[2020-01-24 09:38] lvbachmann commented on #2098
Initial analysis to be closed after planned workshops January 30th

[2020-01-24 09:45] #3554 closed

[2020-01-24 10:33] altinnadmin opened #3581 "Update to .NET Core 3.1.1"
We should be explicit in dockerfiles for Platform and Studio when referring to base images for dotnet.
In other words, change from `3.1-alpine` to `3.1.1-alpine`.

## Tasks
- [ ] Update dockerfiles for Platform
- [ ] Update dockerfiles for Studio

[2020-01-24 10:35] TheTechArch commented on #3559
Fixed

[2020-01-24 10:35] #3559 closed

[2020-01-24 10:35] jeevananthank commented on #3550
verified. closing the issue.

[2020-01-24 10:35] #3550 closed

[2020-01-24 12:27] altinnadmin opened #3585 "IHostingEnvironment obsolete warnings when building Studio"
## Describe the bug
Warnings when building desogner

## To Reproduce
Build Altinn Studio.

[code]

## Expected behavior
No warnings.

[code]

## Tasks
- [x] Fix IHostingEnvironment
- [x] Fix RestClient.ExecuteTaskAsync

[2020-01-24 13:45] alt-how opened #3587 "TFS 39453"
See TFS for more information https://tfs.ai-dev.brreg.no/Altinn/Altinn/_workitems/edit/39453

[2020-01-24 13:48] alt-how opened #3588 "TFS 39455"
See TFS for more information https://tfs.ai-dev.brreg.no/Altinn/Altinn/_workitems/edit/39455

[2020-01-24 13:48] lorang92 opened #3589 "Platform.Receipt build fails after material-ui version update"
## Describe the bug
Platform.Receipt build fails after material-ui version update (https://github.com/Altinn/altinn-studio/pull/3572).

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://dev.azure.com/brreg/altinn-studio/_build/results?buildId=25400&view=results
2. See error

## Expected behavior
Should build successfully.

[2020-01-24 14:13] #3581 closed

[2020-01-24 14:27] altinnadmin opened #3592 "Lerna hoisting warnings"
## Describe the bug
Lerna displays warnings when building Altinn Studio.

## To Reproduce
Build Altinn Studio.

## Expected behavior
No warnings.

## Screenshots
[code]

[2020-01-24 14:39] altinnadmin opened #3593 "docker-compose build fails for repos - "max depth exceeded""
## Describe the bug
After using docker-compose for Altinn Studio with `--build` parameter multiple times, you will eventually get this error, and need to remove the gitea-image.

[code]

This is the same problem as described [here](https://benfi.ca/docker-failed-to-build-max-depth-exceeded/), and requires a simple fix in `docker-compose.yml`.

## To Reproduce
Build altinn studio using docker-compo

[2020-01-24 14:40] TheTechArch commented on #314
Closes this since we probably does not need this functionality based on that developers can add custom gui as part of app.

[2020-01-24 14:40] #314 closed

[2020-01-24 16:38] altinnadmin opened #3596 "Unreadable applicationmetadata.json"
## Describe the bug
`App/config/applicationmetadata.json` in apps is stored as one huge single-line string.

This makes this important file unreadable in Repos UI, and also makes it impossible to edit in parallell by multiple devs without creating merge conflicts.

![bilde](https://user-images.githubusercontent.com/6088624/73086247-9446a980-3ed0-11ea-82a5-3538ab5d71a7.png)

## To Reproduce
Create

[2020-01-27 08:22] altinnadmin opened #3598 "Service mesh for apps"
## Description
We need to look into service mesh for apps and platform.

[Linkerd](https://linkerd.io/) seems like a viable candidate.

## In scope
- Apps clusters
- Platform cluster

## Out of scope
- Studio cluster

## Constraints
- Must be performant and lightweight.
- Must support pod to pod security (TLS).
- Should be simple (not as complex as Istio).
- Open source, good doc and active commun

[2020-01-27 08:22] altinnadmin opened #3599 "Traefik dashboard"
## Description
We should consider enabling Dashboard for Traefik in Platform and Apps.
https://docs.traefik.io/operations/dashboard/

This analysis should be done after we have decided on the way forward regarding service mesh #3598 and after we've upgraded to Traefik 2.1 #3325.

## In scope
- Traefik dashboard in Apps
- Traefik dashboard in Platform

## Out of scope
- Studio (not using Traefik)

[2020-01-27 08:29] altinnadmin opened #3600 "Pipeline for KubernetesWrapper"
## Description
We need to automate the build/deploy of kuberneteswrapper.

Should be done after or as part of #3131.

## Acceptance criteria
- Automatic build and deploy for kuberneteswrapper.

## Development tasks
- [ ] Create pipeline for building and pushing Kubernetes api wrapper application to shared altinn apps container registry
- [ ] Create shared container registry for apps shared between

[2020-01-27 09:03] SandGrainOne commented on #2812
@altinnadmin
The generated XML document is used for a few things that reflection can't provide. The most notable is the texts describing the methods and properties. Generating the file is not dependent on Visual Studio.

[2020-01-27 09:06] jeevananthank opened #3601 "Altinn 3 Instances are not listed in the inbox"
## Describe the bug
Altinn 3 Instances are not listed in the inbox in AT22.

## To Reproduce
Steps to reproduce the behavior:
1. Login to AT22 and start an instance of a deployed application
2. Navigate back to inbox and check for the instance under 'in progress'
3. Altinn 3 instances are not listed in the inbox.
Logs from storage:

[08:23:17 INF] Executed endpoint 'Altinn.Platform.Storage.Control

[2020-01-27 09:22] altinnadmin opened #3602 "Handling of app template changes"
## Description
Over time, we will do changes in the app template and the way apps are structured.
Thus, we need to solve the problem of how to help the owners with updating theier apps.

## In scope
- Updating existing apps when the template is updated
  - Informing / monitoring
  - Automating

## Out of scope
- Handling other containers/apps than the ones created by Altinn Studio.

## Analysis
Th

[2020-01-27 09:27] altinnadmin commented on #1344
All relevant bullets under "out-of-scope" has now been handled, and new issues has been created.

[2020-01-27 09:33] #3593 closed

[2020-01-27 09:34] #3585 closed

[2020-01-27 09:47] altinnadmin commented on #3596
@jeevananthank Reopened this so it can be tested after deploy and (hopefully) closed again :)

[2020-01-27 09:48] lorang92 opened #3603 ""Create app" modal has styling issues on close icon"
## Describe the bug
See title.

## To Reproduce
Steps to reproduce the behavior:
1. Go to studio.
2. Click "Ny app"
3. See error

## Expected behavior
Should look fancy af.

## Screenshots

![image](https://user-images.githubusercontent.com/10416981/73164484-53c67600-40f2-11ea-9204-2bb3e73d7574.png)

[2020-01-27 10:21] altinnadmin commented on #2812
@SandGrainOne Can't these things can be annotated as metadata?
https://github.com/domaindrivendev/Swashbuckle.AspNetCore#swashbuckleaspnetcoreannotations

[2020-01-27 10:24] jeevananthank commented on #3596
App build and deploy goes fine with formatted applicationmetata.json and applicationmetadata has been verified in storage. Closing the issue.

[2020-01-27 10:24] #3596 closed

[2020-01-27 10:31] jeevananthank commented on #3601
verified. closing the issue.

[2020-01-27 10:31] #3601 closed

[2020-01-27 10:36] jeevananthank commented on #3553
The envelope changes to unread once the data is saved for the instance.Closing this issue.
But #3557 is not solved by this fix. @nkylstad

[2020-01-27 10:36] #3553 closed

[2020-01-27 11:26] nkylstad commented on #3557
Will not fix for the time being, after discussion with @altinnadmin and @TheTechArch. Need a broader discussion on how t3.0 elements should be handled in inbox.

[2020-01-27 11:50] nkylstad commented on #3589
Same issue as with the studio build, upgrading to latest version fixes the issue.

[2020-01-27 11:56] jeevananthank commented on #2424
@lvbachmann can you comment if this can be closed as #3557 will not be fixed for timebeing ?

[2020-01-27 11:58] #3589 closed

[2020-01-27 13:32] TheTechArch opened #3607 "Analysis: Can we change default data format to JSON? And if so, how?"
## Description
Today the app data is stored as XML in Storage. To reduce the amount of data store, and to make life simpler for app developers, we need to change the default storage format to JSON.

Default to XML if config is not set, but set JSON as default in config in app template.

## Considerations

Input (beyond tasks) on how the user story should be solved can be put here.
Can we handle ch

[2020-01-27 14:42] acn-sbuad commented on #2943
Tagged as breaking change as Altinn Studio will no longer be able to retrieve old builds and deploys

[2020-01-27 15:18] lvbachmann commented on #3558
Keeping open to inform the person who submitted the issue once it's solved.

[2020-01-27 15:58] TheTechArch opened #3609 "Use API as datasource for options in dropdown list"
## Description
In many of todays services in Altinn 2.0 drop downs or checkbox list are generated based on codelist or external API

This is not possible currently in tjenester 3.0

We should support that we add drop down list and we configure to use options from API

### Suggested solution
We create a standard API in Altinn.App.Api that could be called options

Url could be /org/app/options/optio

[2020-01-27 16:22] acn-sbuad commented on #2943
Breaking change as old collection will have to be deleted to re-create collections with the same name.
No old builds or deployments will be found by AltinnStudio

[2020-01-28 08:01] lorang92 commented on #2801
@jeevananthank this has been implemented and is ready for test

[2020-01-28 08:29] TheTechArch opened #3610 "We need to define the datetime / timezone handling for the platform"
[How to write and handle issues.](https://confluence.brreg.no/x/Wg81Bw) (Only for project members)
## Description
We need to define how datetiime and timezones are handled in platform/app

- What do we store?
- Who is responble for calling now()
- Who is responsible for converting to local timezone

## Screenshots

## Considerations
Input (beyond tasks) on how the user story should be solved can b

[2020-01-28 08:56] acn-sbuad commented on #3610
@TheTechArch this was discussed in tech forum this fall. ref https://confluence.brreg.no/display/T3KP/Beslutningslogg ADR20

[2020-01-28 15:10] lorang92 opened #3618 "Should prefill/calculation etc be triggered on instance creation with complete data?"
## Description
Should prefill/calculation be triggered on instance creation through app api with complete data? What about validation?

## In scope
What is the desired behavior?

## Analysis

We need to run prefill for register/profile and custom prefil in RunDataCreation

## Conclusion

## Tasks
- [x] Is this issue labeled with a correct area label?
- [x] Talk with relevant stakeholders
- [x] Ana

[2020-01-29 09:39] jeevananthank commented on #3056
Tested in At22. closing the issue.

[2020-01-29 09:39] #3056 closed

[2020-01-29 09:45] lvbachmann commented on #2918
Manual test done as part of #3056. Are relevant automated tests implemented @jeevananthank? If so, you may close this.

[2020-01-29 09:50] jeevananthank commented on #2918
@lvbachmann Automated tests are to do be done with Selenium, can ask the team to include a test for attachment.

[2020-01-29 09:58] lvbachmann commented on #3557
Removed from MVP3, and set so same phase as other message box issues.

[2020-01-29 10:00] lvbachmann commented on #2424
Removed from MVP scope and moved to same phase as other message box changes. FYI @jeevananthank

[2020-01-29 10:01] jeevananthank opened #3619 "Not possible to download attachments from receipt page"
## Describe the bug
It is not possible to download attachments added to an app instance from receipt page opened from archives.

## To Reproduce
Steps to reproduce the behavior:
1. login to SBL and create an instance with attachment component.
2. Fill in data, add attachment and send in instance.
3. Navigate to archives -> open the archived instance -> show receipt
4. Download of the attachments a

[2020-01-29 10:01] lvbachmann commented on #2943
Moved to CD 1.0 as per request from @acn-sbuad

[2020-01-29 10:09] alt-how commented on #3325
Consider if this removes the need for #3436.

[2020-01-29 11:00] lorang92 commented on #3619
@jeevananthank this issue has been fixed and can be retested

[2020-01-29 11:06] jeevananthank commented on #3619
verified in at22. closing the issue.

[2020-01-29 11:06] #3619 closed

[2020-01-29 11:37] lvbachmann commented on #915
Should be moved back to CD 1.2 if not a quick win

[2020-01-29 11:38] lorang92 commented on #3436
@lvbachmann this issue will no longer be relevant after update to traefik 2.1. Closing.

[2020-01-29 11:38] #3436 closed

[2020-01-29 11:38] lvbachmann commented on #859
Moved to CD2 because this functionality is only important once the number of apps is quite large.

[2020-01-29 11:50] ToreMasoy commented on #3551
Retested OK :)

[2020-01-29 11:50] #3551 closed

[2020-01-29 11:58] ToreMasoy opened #3622 "Endring-av-navn missing in inbox/archive in AT24"
Instantiates the service. Fill in the nescessary fields. Save.
 - The element does not show up in the inbox.

Instantiates the service. Fill in the nescessary fields. Submit.
 - The element does not show up in the archive.

I suspect that the services gets saved and archived, but it fails to show them in inbox/archive.

[2020-01-29 12:00] ToreMasoy commented on #3622
https://ttd.apps.at24.altinn.cloud/ttd/endring-av-navn-v2/#/

[2020-01-29 13:22] lorang92 commented on #3622
@ToreMasoy we have resolved some technical issues with the at24 environment. Please verify that this has been resolved.

[2020-01-29 14:17] lvbachmann commented on #3245
Prioritised up because keepAlive is only triggered by mouse hover. Thus it is never trigged for keyboard only users, and that is not according to WCAG.

[2020-01-29 14:25] jeevananthank opened #3624 "Archived altinn 3 instances with dueDate are in red"
## Describe the bug
Archived altinn 3 instances with dueDate are in red and displays the due date even when it is archived.

## To Reproduce
Steps to reproduce the behavior:
1. Send in an instance with a nearing dueDate set from the API
2. Login to SBL with the instanceOwner and open the instance with a nearing dueDate
3. Fill in and archive the instance.
4. Navigate to archive and could see that

[2020-01-29 14:38] jeevananthank opened #3625 "Performance issues with instantiation and sending in"
## Describe the bug
Performance issues with instantiation and sending in. It taks an average of 5 seconds which deviates from the requirement of 3 seconds.

## To Reproduce
Steps to reproduce the behavior:
1. Login to SBL and start a deployed app.
2. One could see that it takes an average of 5 seconds before the app frontend is rendered.
(GET users and GET parties has more response time)
3. Fill a

[2020-01-29 15:17] lvbachmann commented on #2918
Adding this to Selenium tests confirmed by @AinaEngen. Thus closing this issue in this backlog, as those tests are handled in other tools.

[2020-01-29 15:17] #2918 closed

[2020-01-29 15:34] jeevananthank commented on #3562
This task is waiting for TT02 to be ready for test.

[2020-01-29 16:03] TheTechArch opened #3626 "Use API as options for checkboxlist and radiobuttons"
## Description
We need to support that options for checkboxes and radiobuttons are retrieved from a options API.

See #3609

## Considerations
- Do we need checkbox functionality like this? Yes.
- Do we need radiobutton functionality like this? Yes.

## Acceptance criteria
- It should be possible to add options to check/radiobuttons in the same way as for dropdown. See #3609.

## Tasks in grooming

[2020-01-29 22:09] wmorgan commented on #3598
Please feel free to reach out to us on [slack.linkerd.io](https://slack.linkerd.io) if you get stuck with anything!

[2020-01-30 07:23] ToreMasoy commented on #3622
Confirmed fixed.

[2020-01-30 07:23] #3622 closed

[2020-01-30 07:51] ToreMasoy opened #3629 "Instantiating services doesn't work until a mouse hover"
## Describe the bug
First time after log on, when I try to instantiate a service, nothing happens before I move  the mouse cursor into the service.

## To Reproduce
1. Log into AT24 (or AT22).
2. Enter the URL for the service you want
 (https://ttd.apps.at24.altinn.cloud/ttd/endring-av-navn-v2/#/ or https://ttd.apps.at24.altinn.cloud/ttd/apps-test/)

3. See error

4. Wait as along as you want, the

[2020-01-30 09:10] jeevananthank commented on #3629
Duplicate of #3245

[2020-01-30 09:25] jeevananthank opened #3631 "User not presented with error page when a call to APP Api fails"
## Describe the bug
User not presented with error page when a call to APP Api fails. POST instance gets 500 as response code when there is fail configuration in the app. But the app frontend hangs with content-loader and no message to the user that there has been some fail with the application.

## To Reproduce
Steps to reproduce the behavior:
1. Build and deploy an app with a fail logic that shal

[2020-01-30 09:36] #2801 closed

[2020-01-30 09:36] jeevananthank commented on #2801
verified. test is complete.

[2020-01-30 09:49] nkylstad commented on #3245
@lvbachmann What exactly are we trying to fix here? Because yes, we can implement some keypress event that also triggers keep-alive, but it doesn't solve the actual problem which is that the user is shown the "Instantiating" view even though we are not instantiating anything.

One possible solution, which has been discussed a few times, is to add a Home-controller in the App, which checks the auth

[2020-01-30 09:59] alt-how opened #3632 "TFS 39614"
See TFS for more information https://tfs.ai-dev.brreg.no/Altinn/Altinn/_workitems/edit/39614

[2020-01-30 10:31] jeevananthank commented on #3245
Refer #3629 which explains the scenario where an instantiation should go fine, yet it waits for a mouse hover in the browser to proceed further.

[2020-01-30 12:27] OddArneSaetervik commented on #3497
Alle relevante provisjoneringer i forbindelse med at21 i Azure (både på subscriptionene Altinn-test og Altinn-TTD-Test) er nå slettet. AT24 ble ferdigstilt (fra infrastruktur sin side) for et par uker siden.

[2020-01-30 12:27] #3497 closed

[2020-01-30 14:09] jeevananthank commented on #3587
@alt-how this is fixed and ready for retest.

[2020-01-30 14:22] #2591 closed

[2020-01-30 14:22] jeevananthank commented on #2591
All the tasks for this issue are complete. closing the issue.

[2020-01-30 15:04] TheTechArch opened #3637 "Analysis: Get Person API with lastname validation - caching of number of requests"
## Description
In some apps there is a need for user to input ssn to give information about other parties.
In Altinn there is typical a requirement that if end user should be able to input the ssn to some other party he also needs to add the first 4 letters of the last name.

This so the solution not can be used to wash ssn.

## Considerations
We need to identify how we ensure that a person number

[2020-01-30 15:13] lvbachmann commented on #3245
@nkylstad @jeevananthank I think we should handle this as separate issues. This issue should ideally be solved in such a way that the Instantiating view is never shown (possibly like described by you, Nina). #3629 should be for the issue where keepAlive isn't called unless there's a mouse hover. Does this make sense?

[2020-01-30 15:14] lvbachmann commented on #3245
If one solution fixes them both, that's of course fine too 😅

[2020-01-30 15:24] TheTechArch commented on #2560
Discussed with @alt-how -

Added #3637 to follow up-

[2020-01-30 15:24] #2560 closed

[2020-01-30 15:52] lvbachmann commented on #3629
No longer considered duplicate after adjustments made to other issue.

[2020-01-31 09:11] acn-sbuad commented on #2557
![image.png](https://images.zenhubusercontent.com/5c8f655333fd990b927f5ea1/00c2349e-d304-4aa1-9a15-2754ed8d269a)

[2020-01-31 09:13] acn-sbuad commented on #2741
@lvbachmann @HanneLauritsen1967  we suggest closing this issue. Keeping this app up to date should be a task included in new features / bug fixes rather than having an issue on the board indefinetly..

[2020-01-31 09:15] #3163 closed

[2020-01-31 09:39] alt-how commented on #3587
Tested using "endring av navn" app.

[2020-01-31 09:39] #3587 closed

[2020-01-31 09:46] alt-how opened #3639 "TFS 39655"
See TFS for more information https://tfs.ai-dev.brreg.no/Altinn/Altinn/_workitems/edit/39655

[2020-01-31 10:47] acn-sbuad commented on #2396
Should be tested by someone following the steps on https://altinn.github.io/docs/ and seeing if they are able to create an application with this restriction.

[2020-01-31 10:58] acn-sbuad commented on #2943
Removing breaking change, as the breaking functionality is already implemented and data from db has been wiped.

[2020-02-03 13:03] lorang92 commented on #3639
Issue has been solved. Closing as done.

[2020-02-03 14:42] lorang92 commented on #3131
KubernetesWrapper updated to .net core 3.1 and deployed to all env. Closing this as done.

[2020-02-03 14:42] #3131 closed

[2020-02-03 14:45] lorang92 commented on #3600
Release pipeline for automatic deploy to all envs for ttd has been establised (https://dev.azure.com/brreg/altinn-studio/_release?_a=releases&view=mine&definitionId=24). This pipeline can be modified to fetch the orgs.json file and deploy for all app owners. Awaiting decision regarding terraform/other altnernatives before extending this pipeline.

Closing issue as done.

[2020-02-03 14:45] #3600 closed

[2020-02-03 15:10] acn-sbuad commented on #2943
@jeevananthank testing should include verifying that build/deploy performs as expected.

[2020-02-04 08:59] #3102 closed

[2020-02-04 08:59] lvbachmann commented on #3102
Application Insights established. Further discussion on how to use the logs will be handled in TFS only.

[2020-02-04 09:34] lorang92 opened #3647 "Remove duplication of app template --> Move template to separate app-templates repo"
## Description
For some reason the app template is currently duplicated to the studio folder, and the copied template is used when creating a new app repo. This duplication should be avoided.

This was discussed further on the 18th of May with the following conclusions:

* Related NUGETs should **NOT** be part of new repo. See https://github.com/Altinn/app-template-dotnet/issues/87
* GitHub releas

[2020-02-04 09:56] lvbachmann commented on #2741
App has gotten necessary QA - further work when the solution is updated.

[2020-02-04 09:56] #2741 closed

[2020-02-04 10:12] lorang92 opened #3649 "Create individual jest test pipelines for studio and app frontend"
## Description
Note: before this is done no tests are run on either app frontend or studio pull requests.

Before the repo structure changes we had a shared jest-test pipeline for all react apps. This does no longer makes sense. We are therefore in need of updating the existing designer jest test pipeline, and creating a new one for runtime.

We should probably also create two projects on sonarclo

[2020-02-04 10:43] lorang92 commented on #3558
@jeevananthank this has been fixed and can be retested.

[2020-02-04 10:43] lorang92 commented on #3381
@jeevananthank this has been fixed and can be retested.

[2020-02-04 11:37] jeevananthank commented on #3381
verified. closing the issue.

[2020-02-04 11:37] #3381 closed

[2020-02-04 11:38] jeevananthank commented on #3558
This is fixed in dev.altinn.studio.
Can be tested once it is available in altinn.studio

[2020-02-04 12:19] lorang92 commented on #2752
@jeevananthank issue has been fixed. Retest that users are not able to create app names with more than 30 chars from dev.altinn.studio. Should also show error message if they try to create an app with longer names than 30 chars.

[2020-02-04 13:08] jeevananthank commented on #2752
verified. closing the issue.
![image](https://user-images.githubusercontent.com/49391725/73747503-d89b3a80-4757-11ea-9276-fadec6871829.png)

[2020-02-04 13:08] #2752 closed

[2020-02-04 13:13] TheTechArch opened #3654 "Fix JWT Authentication profile"
## Description
Implement authentication on Profile component as is done for other platform components.

## Acceptance criteria
- What is allowed/not allowed (negative tesing)
- Validations
- Error messages and warnings
- ...

## tasks
- [x] Implement authentication on controller endpoint1
- [x] Update unit tests

[2020-02-04 13:42] acn-sbuad opened #3656 "Triggering build and deploy from studio fails with 401"
## Describe the bug
See title

## To Reproduce
Steps to reproduce the behavior:
1. Go to dev.altinn.studio
2. Select an existing app
3. Make change
4. Push changes
5. Go to deploy site
6. Trigger new release
7. See error

## Expected behavior
Release should be successfully created
Deploy should be successful

## Screenshots

## Additional info
Happens for all apps, in all environments.

Response r

[2020-02-04 13:57] lorang92 commented on #2302
This has been fixed and can be retested @jeevananthank. While there is still some delay, this is greatly reduced.

[2020-02-04 14:47] jeevananthank commented on #3656
build and deploy is verified. closing the issue.

[2020-02-04 14:47] #3656 closed

[2020-02-04 15:03] #3245 closed

[2020-02-04 15:03] jeevananthank commented on #3245
If an user is not logged in, the user is directly taken to the idporten.
Closing the issue.

[2020-02-04 17:08] acn-sbuad commented on #3556
@jeevananthank I cannot recreate this bug.. please confim that it is still an issue.

[2020-02-04 17:21] acn-sbuad commented on #3050
@lvbachmann @jeevananthank I have updated considerations. Please take a look and advice if we could close this bug without fixing this issue.

[2020-02-05 07:34] jeevananthank commented on #3161
updated nuget to 1.0.42 and getting 500 Internal server error as response code.

   at AltinnCore.Runtime.RestControllers.ValidateController.ValidateData(String org, String app, Int32 instanceOwnerId, Guid instanceId, Guid dataGuid)

[2020-02-05 07:37] jeevananthank commented on #3629
verified. instantiation goes through without a mouse hover. Closing this.
@ToreMasoy FYI

[2020-02-05 07:37] #3629 closed

[2020-02-05 07:38] jeevananthank commented on #2943
App build and deploy has been verified. closing the issue.

[2020-02-05 07:38] #2943 closed